{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <div class="input-field col s6 m4 offset-s3 offset-m4 center-align">
        {% if app.user.image.url is defined %}
            <img src="{{asset('uploads/img/' ~ app.user.image.id ~ '.' ~ app.user.image.url)}}" alt="{{app.user.image.alt}}" class="responsive-img">
        {% else %}
            <img src="{{asset('bundles/cairnuser/img/usager.png')}}"alt="Logo utilisateur" class="circle responsive-img">
        {% endif %}

    </div>
    <div class="col s12">
        <h2 class="center-align">{{ app.user }}</h2>
    </div>
    <div class="input-field col s12 m4">
        {{ form_widget(form.username) }}
        {{ form_label(form.username) }}
    </div>
    <div class="input-field col s12 m4">
        {{ form_errors(form.email) }}
        <i class="material-icons prefix">mail_outline</i>
        {{ form_widget(form.email) }}
        {{ form_label(form.email) }}
    </div>
    <div class="input-field col s12 m4">
        {{ form_errors(form.current_password) }}
        <i class="material-icons prefix">lock</i>
        {{ form_widget(form.current_password) }}
        {{ form_label(form.current_password) }}
    </div>
    {% if form.firstname is defined %}
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">person_outline</i>
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}
            {{ form_label(form.firstname) }}
        </div>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix hide-on-med-and-up"></i>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_label(form.name) }}
        </div>
    {% else %}
        <div class="input-field col s12">
            {{ form_errors(form.name) }}
            <i class="material-icons prefix">person_outline</i>
            {{ form_widget(form.name) }}
            {{ form_label(form.name) }}
        </div>
    {% endif %}
    <div class="input-field col s12">
        {{ form_errors(form.excerpt) }}
        <i class="material-icons prefix">chat</i>
        {{ form_widget(form.excerpt) }}
        {{ form_label(form.excerpt) }}
    </div>
    <div class="col s12 m6">
        <div class="row">
            <div class="input-field col s12">
                {{ form_errors(form.address.street1) }}
                <i class="material-icons prefix">home</i>
                {{ form_widget(form.address.street1) }}
                {{ form_label(form.address.street1) }}
            </div>
            <div class="input-field col s12">
                {{ form_errors(form.address.street2) }}
                <i class="material-icons prefix"></i>
                {{ form_widget(form.address.street2) }}
                {{ form_label(form.address.street2) }}
            </div>
            <div class="input-field col s12">
                {{ form_errors(form.address.zipCity) }}
                <i class="material-icons prefix">place</i>
                {{ form_widget(form.address.zipCity) }}
                {{ form_label(form.address.zipCity) }}
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        {% if form.image is defined %}
            <div class="col s12">
                {{ form_errors(form.image) }}
                {{ form_label(form.image) }}
            </div>
            <div class="col s12">
                {{ form_widget(form.image) }}
            </div>
        {% endif %}
    </div>
    <div class="col s12 right-align">
        <button type="submit" class="btn" ><i class="material-icons left">check</i>Enregistrer</button>
    </div>
    {{ form_widget(form) }}

{{ form_end(form) }}
</div>
