{# src/Cairn/UserBundle/Resources/views/Pro/all.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    <div class="list-pros">
        <div class="row">
            {% for pro in pros %}
            <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image pro">
                        {% if pro.image.url is defined %}
                            <img src="{{asset('uploads/img/' ~ pro.image.id ~ '.' ~ pro.image.url)}}" alt="{{pro.image.alt}}" class="responsive-img activator">
                        {% else %}
                            <img src="{{asset('bundles/cairnuser/img/pro.jpg')}}"alt="Logo utilisateur" class="responsive-img activator">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title pro grey-text activator text-darken-4">{{pro.name}}<i class="material-icons right">more_vert</i></span>
                        <p>{{ pro.description|length > 25 ? pro.description|slice(0, 25) ~ '...' : pro.description  }}</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title pro grey-text text-darken-4">{{pro.name}}<i class="material-icons right">close</i></span>
                        <p>{{pro.description}}</p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}              
