{# src/Cairn/UserBundle/Resources/views/Pro/confirm_edit_beneficiary.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 

    <div class="body_wrapper">
        <div id="confirm_action"> <em>Confirmer la modification du bénéficiaire </em> </div>
        {{ form_start(form) }}                                                       
         {{ form_row(form.cancel) }}
         {{ form_row(form.save) }}
         {{ form_rest(form) }}
        {{form_end(form) }}
    </div>
{% endblock %}