{# src/Cairn/UserBundle/Resources/views/Pro/confirm_remove.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}}
    <div class="body_wrapper">
        <div id="confirm_action"> <em>Confirmer la suppression de l'espace membre {{user.name}} </em> </div>
        Attention, cette opération est définitive. Toutes les données associées au compte seront perdues.
        {{ form_start(form) }}                                                       
         {{ form_rest(form) }}                                                        
        {{form_end(form) }}   
    </div>
{% endblock %}              
