{# src/Cairn/UserBundle/Resources/views/Pro/edit.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 
 <h2> Espace Professionnel {{ app.user.name }}</h2>                                                  
<h3> {{ 'now'|date('d - m -Y') }} </h3>                                                                               

<div class="well">
    {{ form_start(form) }}                                                       
    {{ form_rest(form) }}                                                        
    {{form_end(form) }}
</div>
                                                                            
{% endblock %}              


