{# src/Cairn/UserBundle/Resources/views/Pro/list_beneficiaries.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 
     <h2> <i class="material-icons left">favorite</i> Mes bénéficiaires </h2>

    <a href="{{path('cairn_user_beneficiaries_add')}}" class="btn blue"><i class="material-icons left">person_add</i>ajouter un bénéficiaire</a>

    <table>
         <thead>
             <tr>
                 <th> </th>
                 <th> Nom </th>
                 <th> Coordonnées de compte</th>
                 <th> Actions </th>
             </tr>
         </thead>

         <tbody>
         {% for beneficiary in beneficiaries %}
             <tr>
                 <td>{% if beneficiary.user.image %}<img class="circle responsive-img" src="/{{ beneficiary.user.image.webPath}}" alt="" style="width: 40px;">{% endif %}</td>
                 <td>{{ beneficiary.user}} </td>
                 <td>{{ beneficiary.ICC}}</td>
                 <td><a href="{{path('cairn_user_beneficiaries_remove', {'id' : beneficiary.id})}}" class="red-text"><i class="material-icons left">close</i> Supprimer</a>
                </td>
             </tr>
         {% else %}
             <tr>
                 <td colspan="4" style="text-align: center">Pas encore de bénéficiaire !</td>
             </tr>
         {% endfor %}
         </tbody>
    </table>
{% endblock %}


