{# src/Cairn/UserBundle/Resources/views/Pro/view.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

 {% if user.image is not null %}
    {% if user.image.url is not null %}
        {% set logoIsDefined = true %}
    {% else %}
        {% set logoIsDefined = false %}
    {% endif %}
{% else %}
    {% set logoIsDefined = false %}
{% endif %}

{% block body %}
    <div class="section">
        <div class="row">
            <div class="col s6 m2 offset-s3 offset-m5">
                <h5 class="center-align">
                    {% if logoIsDefined %}
                        <img src="{{asset('uploads/img/' ~ user.image.id ~ '.' ~ user.image.url)}}" alt="{{user.image.alt}}" class="responsive-img">
                    {% else %}
                        <img src="{{asset('bundles/cairnuser/img/usager.png')}}"alt="Logo utilisateur" class="circle responsive-img">
                    {% endif %}<br>
                    {{ user.name }}
                </h5>
            </div>
        </div>
        
        <div class="row">
        <ul class="collapsible">
            <li class="">
                <div class="collapsible-header"><i class="material-icons">person</i>
                    {% if user.id == app.user.id %}
                        Mes informations
                    {% else %}
                        Informations
                    {% endif %}
                </div>
                <div class="collapsible-body" style="display: none;">
                    <div class="row">
                        <div class="col s12 truncate"><i class="material-icons tiny">account_box</i>&nbsp;{{ user.name }}</div>
                        <div class="col s12 truncate"><i class="material-icons tiny">mail</i>&nbsp;{{ user.email }}</div>
                        <div class="col s12 truncate"><i class="material-icons tiny">location_on</i>
                            &nbsp;{{ user.address.street1}}
                            &nbsp;{{ user.address.street2}}
                            &nbsp;{{ user.address.zipCity.zipCode}}
                            &nbsp;{{ user.address.zipCity.city}}
                        </div>
                        <div class="col s12 truncate"><i class="material-icons tiny">file_download</i>
                            &nbsp;<a href="{{path('cairn_user_iddocument_download',{'id': user.identityDocument.id})}}"> Pièce d'identité</a>
                            {% if ( user.hasRole('ROLE_PRO') and logoIsDefined ) %}
                                &nbsp;<a href="{{path('cairn_user_logo_download',{'id': user.image.id})}}"> Logo</a>
                            {% endif %}
                        </div>
                    </div>
                    <blockquote>
                        {{ user.description}}
                    </blockquote>
                    {% if user.id == app.user.id %}
                        <a href="{{path('fos_user_profile_edit')}}" class="btn waves-effect waves-light"><i class="material-icons left">mode_edit</i>Editer</a>
                        <a href="{{path('fos_user_change_password')}}" class="btn waves-effect waves-light">Modifier mon mot de passe</a>
                    {% else %}
                        {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                            <a href="{{path('cairn_user_profile_edit',{'username': user.username})}}" class="btn waves-effect waves-light"><i class="material-icons left">mode_edit</i>Editer</a>
                        {% endif %}
                    {% endif %}
                </div>

            <li class="">
                <div class="collapsible-header"><i class="material-icons">phone_android</i>
                       Le paiement par SMS
                </div>

                <div class="collapsible-body" style="display: none;">
                    <div class="row">
                        

                        {% if (user.hasRole('ROLE_PRO')) and (user.smsData) %}
                        <div class="container">

                            <div class="smsdata_notification">
                            <table class="striped smsdata_notification hoverable">
                                <caption>Recevoir une notification de paiement SMS</caption>
                                <tbody>
                                  <tr>
                                    <td>Notification sur ce navigateur </td>
                                    <td><i class="material-icons tiny permission"></i></td>
                                  </tr>
                                  <tr>
                                    <td>Email à {{user.email}}</td>
                                    <td><i class="material-icons tiny">{{ user.smsData.notificationPermission.emailEnabled ? 'check' : 'cancel'}}</i></td>
                                  </tr>
                                  <tr>
                                    <td>SMS</td>
                                    <td><i class="material-icons tiny">{{ user.smsData.notificationPermission.smsEnabled ? 'check' : 'cancel'}}</i></td>
                                  </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        {% endif %}

                        {% if user.smsData %}
                            {% for phone in user.smsData.phones %}
                            <div class="smsdata">
                       
                                <div class="smsdata_payment">
                                    <div class="col s12 truncate"><i class="material-icons tiny">phone</i>&nbsp;{{ phone.phoneNumber }}</div>
        
                                    {% if user.hasRole('ROLE_PRO') %}
                                        <div class="col s12 truncate"><i class="material-icons tiny">perm_identity</i>&nbsp;{{phone.identifier}} &nbsp;<a href="{{path('cairn_user_sms_poster_download')}}" target="_blank">Affiche vitrine</a>
</div>
                                    {% endif %}
                                    <div class="col s12 truncate"><i class="material-icons tiny"></i>Peut payer par SMS : {{ phone.paymentEnabled ? 'Oui' : 'Non'}}</td>

                                </div>
                                <div class="smsdata_options">
                                {% if user.id == app.user.id %}
                                    {% set textSmsButton = "Editer mes données SMS"%}
                                {% else %}
                                    {% set textSmsButton = "Editer les données SMS de " ~ user.name %}
                                {% endif %}
                                <a href="{{path('cairn_user_users_phone_edit',{'id' : phone.id})}}" class="btn waves-effect waves-light"><i class="material-icons left">edit</i>{{textSmsButton}}</a>
                                 <a href="{{path('cairn_user_users_phone_delete',{'id' : phone.id})}}" class="btn red confirmModalLink"><i class="material-icons left">delete</i>Supprimer</a>
                                 </div>
                            </div>
                            {% endfor %}
                        {% endif %}

                        {% if app.user.isAdherent() %}
                            <br> <br>
                            <div class="valign-wrapper">
                                <div class="smsdata_new col s12 m4">
                                    <a href="{{path('cairn_user_users_phone_add')}}" class="btn waves-effect waves-light"><i class="material-icons left">add</i>Ajouter un n°</a>
                                </div>
                                <div class="col s12 m8 left-align">
                                    <a class="waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons large purple-text text-darken-2">info</i><span> Règles d'utilisation</span></a>
            
                                    <div id="modal2" class="modal">
                                      <div class="modal-content">
                                        <h4 class="center-align">Le paiement par SMS</h4>
                                        {{include("CairnUserBundle:Default:howto_sms.html.twig")}}
                                      </div>
                                      <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Compris !</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>

                </div>

            </li>

            {% set card = user.card %}
            {% if user.hasReferent(app.user) or user == app.user %}
            <li>
                <div class="collapsible-header"><i class="material-icons">lock</i>Carte de sécurité</div>
                <div class="collapsible-body">
                    {{ render(controller("CairnUserBundle:Card:cardOperations",{'username':user.username})) }}
                    <div class="row right-align">
                        <a class="waves-effect waves-light" href="{{path('cairn_user_card_presentation')}}"><i class="material-icons large purple-text text-darken-2">info</i><span> Règles d'utilisation</span></a>
                    </div>
                </div>
            </li>
            {% endif %}
            <li>
                <div class="collapsible-header"><i class="material-icons">build</i>Actions</div>
                <div class="collapsible-body">
                    {% if user.enabled == true %}
                        <a class="btn red" href="{{path('cairn_user_users_block',{'username': user.username})}}"><i class="material-icons left">lock</i> Faire opposition au compte</a>
                    {% else %}
                        <a class="btn green" href="{{path('cairn_user_users_activate',{'username': user.username})}}"><i class="material-icons left">unlock</i>Autoriser l'accès à la plateforme</a>
                    {% endif %}

                    <a href="{{path('cairn_user_users_remove',{'username' : user.username})}}" class="btn waves-effect waves-light red"><i class="material-icons left">clear</i>Clôturer le compte</a>

                </div>
            </li>
{#            {% if user.hasReferent(app.user) %}
            {% endif %}
#}

            {% if user.hasRole('ROLE_PRO') %}

                {% set adminReferent = user.getLocalGroupReferent() %}

                {% if user.id == app.user.id %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Mon groupe local référent</div>
                        <div class="collapsible-body">
                            {% if adminReferent is null %}
                                <em> Aucun groupe local référent ! </em>
                            {% else %}
                                <em> {{adminReferent.name}} </em> </br>
                                <em> {{adminReferent.email}} </em> </br>
                            {% endif %}
                        </div>
                    </li>

                {% elseif app.user.hasRole('ROLE_SUPER_ADMIN')  %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Le groupe local référent de {{user.name}}</div>
                        <div class="collapsible-body">
        
                            {% if adminReferent is null %}
                                <em> Pas encore de groupe local référent ! </em>
                                <a href="{{path('cairn_user_referents_assign',{'username': user.username})}}">Ajouter un groupe local référent</a>
                            {% else %}
                                <em> {{adminReferent.name}} </em> </br>
                                <em> {{adminReferent.email}} </em> </br>
                                <a href="{{path('cairn_user_referents_assign',{'username': user.username})}}">Modifier le groupe local référent</a>
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">sync</i> Données API</div>
                        <div class="collapsible-body">
                            <a class="btn waves-effect waves-light" href="{{path('cairn_user_pros_apiclient_edit',{'username': user.username})}}">Editer les données API</a>
                        </div>
                    </li>

                {% endif %}
            {% endif %}
        </ul>
        </div>
    </div>

    <div id="confirmModal" class="modal center-align">
         <div class="modal-content center-align">
             <h4> Êtes-vous sûr(e) de vouloir continuer ? </h4>
         </div>
        {{ form_start(form, {'method': 'post','attr': {'class': 'confirm_operation'}}) }}

                <div class="input-field col s12 m6">
                    {{ form_widget(form.save) }}
                    {{ form_label(form.save) }}
                </div>
                <div class="input-field col s12 m6">
                    <a href="#" class="btn red" id="confirmModalNo">Annuler</a>
                </div>
                {{ form_row(form.cancel,  {'attr': {'class':'hide'} }) }}
                
            {{ form_rest(form) }}
            {{ form_end(form) }}
    </div>


        {% if (app.user == user) and user.hasRole('ROLE_PRO') and user.smsData %}
            <div class="js-smsdata-id" data-get-smsdataid="{{user.smsData.id}}">

            {% set nP = user.smsData.notificationPermission %}            
            <div class="js-user-webpush" data-get-wp="{{nP.webPushEnabled}}">
        {% endif %}

{% endblock %}              


{% block javascripts %}

<script type="text/javascript">

    
    $(function (){

        var containerNotifTable = $('table.smsdata_notification');

        if (containerNotifTable){
            var containerID = $('.js-smsdata-id');

            if(containerID){
                var smsDataID = containerID.data('getSmsdataid');

                containerNotifTable.click(function() {
                   url = "{{ path('cairn_user_users_smsdata') }}"
                   window.location.href = url;
                });
            }

            var containerWP = $('.js-user-webpush');
            var webPushEnabled = containerWP.data('getWp');

            var containerNotifCell = $('.permission');

            if( (Notification.permission == 'granted') && webPushEnabled){
                var isNotifAuthorized = 'check';
            }else{
                var isNotifAuthorized = 'cancel';
            }

            containerNotifCell.html(isNotifAuthorized);
        }

        $(".confirmModalLink").click(function(e) {
            e.preventDefault();
            theHREF = $(this).attr("href");
            $('form.confirm_operation').attr('action',theHREF);
            $("#confirmModal").modal("open");

        });

        $("#confirmation_save").click(function(e) {
            $('form.confirm_operation').submit();
           
        });

        $("#confirmModalNo").click(function(e) {
            $("#confirmModal").modal("close"); 
        });

    });
    </script>

{% endblock %}

