{# src/Cairn/UserBundle/Resources/views/Pro/view.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    <div class="section">
        <div class="row">
            <div class="col s6 m2 offset-s3 offset-m5">
                <h5 class="center-align">
                    {% if user.image.url is defined %}
                        <img src="{{asset('uploads/img/' ~ user.image.id ~ '.' ~ user.image.url)}}" alt="{{user.image.alt}}" class="responsive-img">
                    {% else %}
                        <img src="{{asset('bundles/cairnuser/img/usager.png')}}"alt="Logo utilisateur" class="circle responsive-img">
                    {% endif %}<br>
                    {{ user.name }}
                </h5>
            </div>
        </div>
        <ul class="collapsible">
            <li class="">
                <div class="collapsible-header"><i class="material-icons">person</i>
                    {% if user.id == app.user.id %}
                        Mes informations
                    {% else %}
                        Informations
                    {% endif %}
                </div>
                <div class="collapsible-body" style="display: none;">
                    <div class="row">
                        <div class="col s12 truncate"><i class="material-icons tiny">account_box</i>&nbsp;{{ user.name }}</div>
                        <div class="col s12 truncate"><i class="material-icons tiny">mail</i>&nbsp;{{ user.email }}</div>
                        <div class="col s12 truncate"><i class="material-icons tiny">location_on</i>
                            &nbsp;{{ user.address.street1}}
                            &nbsp;{{ user.address.street2}}
                            &nbsp;{{ user.address.zipCity.zipCode}}
                            &nbsp;{{ user.address.zipCity.city}}
                        </div>
                        <div class="col s12 truncate"><i class="material-icons tiny">file_download</i>
                            &nbsp;<a href="{{path('cairn_user_iddocument_download',{'id': user.id})}}"> Pièce d'identité</a>
                        </div>
                    </div>
                    <blockquote>
                        {{ user.description}}
                    </blockquote>
                    {% if user.id == app.user.id %}
                        <a href="{{path('fos_user_profile_edit')}}" class="btn waves-effect waves-light"><i class="material-icons left">mode_edit</i>Editer</a>
                        <a href="{{path('fos_user_change_password')}}" class="btn waves-effect waves-light">Modifier mon mot de passe</a>
                    {% endif %}
                </div>

            <li class="">
                <div class="collapsible-header"><i class="material-icons">phone_android</i>
                    {% if user.id == app.user.id %}
                        Mes accès SMS
                    {% else %}
                        Accès SMS
                    {% endif %}
                </div>
                <div class="collapsible-body" style="display: none;">
                    <div class="row">
                        {% for smsData in user.smsData %}
                        
                            <div class="col s12 truncate"><i class="material-icons tiny">phone</i>&nbsp;{{ smsData.phoneNumber }}</div>
    
                            {% if user.hasRole('ROLE_PRO') %}
                                <div class="col s12 truncate"><i class="material-icons tiny">arrow_forward</i>&nbsp;{{smsData.identifier}}</div>
                                <div class="col s12 truncate"><i class="material-icons tiny">thumbs_up_down</i>
                                  &nbsp; Réception de paiements par SMS : {{ smsData.smsEnabled ? 'Oui' : 'Non' }} </br>
{#                                  &nbsp; Réalisation de paiements par SMS : {{ smsData.paymentEnabled ? 'Oui' : 'Non' }} </br> #}
                                </div>
                                <br>
                            {% endif %}
                            {% if user.id == app.user.id %}
                                {% set textSmsButton =  "Editer mes données SMS"%}
                            {% else %}
                                {% set textSmsButton =  "Editer les données SMS de " ~ user.name %}
                            {% endif %}
                            <a href="{{path('cairn_user_users_smsdata_edit',{'id' : smsData.id})}}" class="btn waves-effect waves-light"><i class="material-icons left">edit</i>{{textSmsButton}}</a>
                             <a href="{{path('cairn_user_users_smsdata_delete',{'id' : smsData.id})}}" class="btn red"><i class="material-icons left">delete</i>Supprimer</a>
       
                        {% else %}

                            Aucune donnée SMS enregistrée !

                        {% endfor %}
                        <br> <br>
                        <a href="{{path('cairn_user_users_smsdata_add')}}" class="btn waves-effect waves-light"><i class="material-icons left">add</i>Ajouter un numéro</a>
        

                    </div>

                </div>

            </li>
            {% set card = user.card %}
            {% if user.hasReferent(app.user) or user == app.user %}
            <li>
                <div class="collapsible-header"><i class="material-icons">lock</i>Carte de sécurité</div>
                <div class="collapsible-body">
                    {{ render(controller("CairnUserBundle:Card:cardOperations",{'username':user.username})) }}
                </div>
            </li>
            {% endif %}
            <li>
                <div class="collapsible-header"><i class="material-icons">build</i>Actions</div>
                <div class="collapsible-body">
                    {% if user.enabled == true %}
                        <a class="btn red" href="{{path('cairn_user_users_block',{'username': user.username})}}"><i class="material-icons left">lock</i> Faire opposition au compte</a>
                    {% else %}
                        <a class="btn green" href="{{path('cairn_user_users_activate',{'username': user.username})}}"><i class="material-icons left">unlock</i>Autoriser l'accès à la plateforme</a>
                    {% endif %}

                    <a href="{{path('cairn_user_users_remove',{'username' : user.username})}}" class="btn waves-effect waves-light red"><i class="material-icons left">clear</i>Clôturer le compte</a>

                </div>
            </li>
{#            {% if user.hasReferent(app.user) %}
            {% endif %}
#}

            {% if user.hasRole('ROLE_PRO') %}

                {% set adminReferent = user.getLocalGroupReferent() %}

                {% if user.id == app.user.id %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">supervised_user_circle</i>Mon groupe local référent</div>
                        <div class="collapsible-body">
                            {% if adminReferent is null %}
                                <em> Aucun groupe local référent ! </em>
                            {% else %}
                                <em> {{adminReferent.name}} </em> </br>
                                <em> {{adminReferent.email}} </em> </br>
                            {% endif %}
                        </div>
                    </li>

                {% elseif app.user.hasRole('ROLE_SUPER_ADMIN')  %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">supervised_user_circle</i>Le groupe local référent de {{user.name}}</div>
                        <div class="collapsible-body">
        
                            {% if adminReferent is null %}
                                <em> Pas encore de groupe local référent ! </em>
                                <a href="{{path('cairn_user_referents_assign',{'username': user.username})}}">Ajouter un groupe local référent</a>
                            {% else %}
                                <em> {{adminReferent.name}} </em> </br>
                                <em> {{adminReferent.email}} </em> </br>
                                <a href="{{path('cairn_user_referents_assign',{'username': user.username})}}">Modifier le groupe local référent</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock %}              
