{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}[e]Cairn{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/cairnuser/materialize/css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cairnuser/materialize/iconfont/material-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cairnuser/dropify/css/dropify.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cairnuser/css/ecairn.css') }}">
        <script src="{{ asset('bundles/cairnuser/js/vanilla_top.js') }}"></script>
        <link rel="icon" type="image/png" href="{{asset('bundles/cairnuser/img/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock%}">
        <header>
        {% block navbar %}
        <nav class="" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="{{ path('cairn_user_welcome') }}" class="brand-logo"><img src="{{asset('bundles/cairnuser/img/e-cairn.png')}}" alt="Logo du Cairn"></a>
                <ul class="right hide-on-med-and-down">
                    {% block top_nav_menu %}{% endblock%}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li id="logo_user" class="right hide-on-med-and-down">
                            <a href="{{path('cairn_user_profile_view',{'username' : app.user.username})}}">
                            {% if app.user.image.url is defined %}
                                <img src="{{asset('uploads/img/' ~ app.user.image.id ~ '.' ~ app.user.image.url)}}" alt="{{app.user.image.alt}}" class="circle responsive-img">
                            {% else %}
                                <img src="{{asset('bundles/cairnuser/img/usager.png')}}"alt="Logo utilisateur" class="circle responsive-img">
                            {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{{path('cairn_user_profile_view',{'username' : app.user.username})}}">
                                <i class="material-icons small left">settings</i>
                                <small>{{ app.user.username }}</small>
                            </a>
                        </li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small right">exit_to_app</i>
                            </a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
                {% block top_nav %}{% endblock%}
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><div class="user-view center-align">
                        <div class="background">
                            <img class="responsive-img" src="{{asset('bundles/cairnuser/img/Stone_stack_together.jpg')}}" alt="" style="position: absolute;bottom: -46px;left: 0;" />
                        </div>
                        <a href="#user">
                            {% if app.user.image.url is defined %}
                                <img src="{{asset('uploads/img/' ~ app.user.image.id ~ '.' ~ app.user.image.url)}}" alt="{{app.user.image.alt}}" class="circle">
                            {% else %}
                                <img src="{{asset('bundles/cairnuser/img/usager.png')}}"alt="Logo utilisateur" class="circle">
                            {% endif %}
                        </a>
                        <a href="#name"><span class="white-text name">{{ app.user.username }}</span></a>
                    </div>
                </li>
                <li><a href="{{ path('cairn_user_welcome') }}"><i class="material-icons small">home</i>
                        Accueil
                    </a></li>
                {% block nav_mobile %}{% endblock%}
                <li><a href="{{path('cairn_user_profile_view',{'username' : app.user.username})}}"><i class="material-icons">settings</i>
                        Mon profil</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small">exit_to_app</i>
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            {% endif %}
        </ul>
        {% endblock navbar %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal {{ type }} lighten-1">
                                <span class="white-text">{{ message|trans({}, 'FOSUserBundle')|raw }}</span>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endfor %}
        {% endif %}
        </header>
        <main>
        <div class="{% block container_class %}container{% endblock%}">
            {% block body %}{% endblock%}
        </div>
        </main>
        {% block footer %}
        <footer class="page-footer">
                <div class="row">
                    <div class="col l4 m6 s12">
                        <h5 class="white-text">Nous contacter</h5>
                        <ul id="contacts_list">
                            <li class="emails">
                                <div class="emails-logo">
                                    <i class="material-icons small left">email</i>
                                </div>
                                <div>
                                    <ul>
                                        <li>contact: <a href="#" class="mailto white-text">contact@cairn-monnaie.com</a> </li>
                                        <li>gestion: <a href="#" class="mailto white-text">e-cairn@cairn-monnaie.com</a> </li>
                                        <li>support: <a href="#" class="mailto white-text">si@cairn-monnaie.com</a>  </li>
                                    </ul>
                                </div>
                            </li>
                            <li><i class="material-icons small left">phone</i><a href="tel:+33665446587" class="tel white-text">06.65.44.65.87</a></li>
                        </ul>
                    </div>
                    <div class="col l4 m6 s12">
                        <h5 class="white-text">Comment ça marche</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.cairn-monnaie.com/mode-demploi/" target="_blank">Mode d'emploi</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.cairn-monnaie.com/le-e-cairn/" target="_blank">FAQ</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Vidéos tuto</a></li>
                        </ul>
                    </div>
                    <div class="col l4 m6 s12">
                        <h5 class="white-text">A propos du Cairn</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.cairn-monnaie.com/mode-demploi/" target="_blank">Mode d'emploi</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.cairn-monnaie.com/le-e-cairn/" target="_blank">FAQ</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Vidéos tuto</a></li>
                        </ul>
                    </div>
    
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <span> &copy; Cairn 2019 </span>
                    <a class="col grey-text text-lighten-4 right" href="https://www.cairn-monnaie.com/mentions-legales/" target="_blank">Mentions légales</a> <a class="col grey-text text-lighten-4 right" href="https://www.cairn-monnaie.com/wp-content/uploads/2019/03/CGU_CAIRN.pdf" target="_blank">Conditions Générales d'Utilisation</a>
                </div>
            </div>
        </footer>
        {% endblock %}

        <!-- Compiled and minified JavaScript -->
        {% include "JqueryBundle:Jquery:jquery.html.twig" %}
        <script src="{{ asset('bundles/cairnuser/materialize/js/materialize.min.js') }}"></script>
        <script src="{{ asset('bundles/cairnuser/dropify/js/dropify.min.js') }}"></script>
        <script src="{{ asset('bundles/cairnuser/js/app.js') }}"></script>


        {% block javascripts %}
        {% endblock %}

    </body>
</html>
