{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}[e]Cairn{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/cairnuser/materialize/css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cairnuser/materialize/iconfont/material-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cairnuser/dropify/css/dropify.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cairnuser/css/ecairn.css') }}">
        <script src="{{ asset('bundles/cairnuser/js/vanilla_top.js') }}"></script>
        <link rel="icon" type="image/png" href="{{asset('bundles/cairnuser/img/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock%}">
        <nav class="" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="{{ path('cairn_user_welcome') }}" class="brand-logo"><img src="{{asset('bundles/cairnuser/img/e-cairn.png')}}" alt="Logo du Cairn"></a>
                <ul class="right hide-on-med-and-down">
                    {% block top_nav_menu %}{% endblock%}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li id="logo_user" class="right hide-on-med-and-down">
                            <a href="{{path('cairn_user_profile_view',{'username' : app.user.username})}}">
                            {% if app.user.image.url is defined %}
                                <img src="{{asset('uploads/img/' ~ app.user.image.id ~ '.' ~ app.user.image.url)}}" alt="{{app.user.image.alt}}" class="circle responsive-img">
                            {% else %}
                                <img src="{{asset('bundles/cairnuser/img/usager.png')}}"alt="Logo utilisateur" class="circle responsive-img">
                            {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{{path('cairn_user_profile_view',{'username' : app.user.username})}}">
                                <i class="material-icons small left">settings</i>
                                <small>{{ app.user.username }}</small>
                            </a>
                        </li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small right">exit_to_app</i>
                            </a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
                {% block top_nav %}{% endblock%}
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><div class="user-view center-align">
                        <div class="background">
                            <img class="responsive-img" src="{{asset('bundles/cairnuser/img/Stone_stack_together.jpg')}}" alt="" style="position: absolute;bottom: -46px;left: 0;" />
                        </div>
                        <a href="#user">
                            {% if app.user.image.url is defined %}
                                <img src="{{asset('uploads/img/' ~ app.user.image.id ~ '.' ~ app.user.image.url)}}" alt="{{app.user.image.alt}}" class="circle">
                            {% else %}
                                <img src="{{asset('bundles/cairnuser/img/usager.png')}}"alt="Logo utilisateur" class="circle">
                            {% endif %}
                        </a>
                        <a href="#name"><span class="white-text name">{{ app.user.username }}</span></a>
                    </div>
                </li>
                <li><a href="{{ path('cairn_user_welcome') }}"><i class="material-icons small">home</i>
                        Accueil
                    </a></li>
                {% block nav_mobile %}{% endblock%}
                <li><a href="{{path('cairn_user_profile_view',{'username' : app.user.username})}}"><i class="material-icons">settings</i>
                        Mon profil</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small">exit_to_app</i>
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            {% endif %}
        </ul>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel teal {{ type }} lighten-1">
                                <span class="white-text">{{ message|trans({}, 'FOSUserBundle')|raw }}</span>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="{% block container_class %}container{% endblock%}">
            {% block body %}{% endblock%}
        </div>
{#
        <footer>
            <div id="footer_contacts">
                <h1>Nous contacter</h1>
                <p> Mail contact </p>
                <p> Mail gestion [e]-Cairn </p>
                <p> Mail services techniques [e]-Cairn <p>
                <p> Numéro du standard <p>

            </div>
            <div id="footer_docs">
                <h1>Documentation utilisateur</h1>
                <p> Mode d'emploi </p>
                <p> FAQ </p>
                <p> Vidéos tuto <p>
            </div>
            <div id="footer_legal">
                <h1>Conditions générales</h1>
            </div>

        </footer>
#}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="js-user-name" data-get-name="{{app.user.username}}">
        {% endif %}

        <!-- Compiled and minified JavaScript -->
        {% include "JqueryBundle:Jquery:jquery.html.twig" %}
        <script src="{{ asset('bundles/cairnuser/materialize/js/materialize.min.js') }}"></script>
        <script src="{{ asset('bundles/cairnuser/dropify/js/dropify.min.js') }}"></script>
        <script src="{{ asset('bundles/cairnuser/js/app.js') }}"></script>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <script type="text/javascript">
        if (!('serviceWorker' in navigator)) {
            // Service Worker isn't supported on this browser, disable or hide UI.
            throw new Error('Service Worker not supported');
        }

        if (!('PushManager' in window)) {
            // Push isn't supported on this browser, disable or hide UI.
            throw new Error('push manager not supported');
        }            

        //if granted, subscribe user

        getNotificationPermissionState().then(function(permission) {
            if(Notification.permission !== 'granted'){
                askPermission().then(function(permission) {
                    if(Notification.permission === 'granted'){
                        var userInfo = document.querySelector('.js-user-name');
                        var username = userInfo.dataset.getName;
            
                        subscribeUserToPush().then(function(subscription) {
                            sendSubscriptionToBackEnd(subscription, username);
                        });
                    }
                });
            }
        });

        function urlBase64ToUint8Array(base64String) {
            var padding = '='.repeat((4 - base64String.length % 4) % 4);
            var base64 = (base64String + padding)
                .replace(/\-/g, '+')
                .replace(/_/g, '/');
        
            var rawData = window.atob(base64);
            var outputArray = new Uint8Array(rawData.length);
        
            for (var i = 0; i < rawData.length; ++i) {
                outputArray[i] = rawData.charCodeAt(i);
            }
            return outputArray;
        }

        function registerServiceWorker() {
            return navigator.serviceWorker.register("{{ asset('bundles/cairnuser/js/service-worker.js') }}")
                .then(function(registration) {
                        return registration;
                    })
                .catch(function(err) {
                        console.error('Unable to register service worker.', err);
                    });
        }

        function askPermission() {
            return new Promise(function(resolve, reject) {
                    const permissionResult = Notification.requestPermission(function(result) {
                            resolve(result);
                            });
        
                    if (permissionResult) {
                        permissionResult.then(resolve, reject);
                    }
             })
            .then(function(permissionResult) {
                    return permissionResult;
             });
        }

        function getNotificationPermissionState() {
            if (navigator.permissions) {
                return navigator.permissions.query({name: 'notifications'})
                    .then((result) => {
                            return result.state;
                            });
            }
        
            return new Promise((resolve) => {
                    resolve(Notification.permission);
                    });
        }

        function subscribeUserToPush() {
            return registerServiceWorker()
                .then(function(registration) {
                        const subscribeOptions = {
                            userVisibleOnly: true,
                            applicationServerKey: urlBase64ToUint8Array(
                                    'BOgWoZItNVvw2sWwfQ8AammEU-bjTNyHtoFuJF6yk9llulIclOEFQzbvf3PCFRZqRltLVHrVomu1Vmb-YYf0JAA'
                            )
                        };
                        return registration.pushManager.subscribe(subscribeOptions);

        })
        .then(function(pushSubscription) {
                console.log('Received PushSubscription: ', JSON.stringify(pushSubscription));
                return pushSubscription;
                });
        }
        
        function sendSubscriptionToBackEnd(subscription,username) {
            var token = "{{app.session.get('cyclos_token')}}";
            return fetch('api/notifications/endpoint-subscription', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'charset': 'UTF-8'
                        },
                        body: JSON.stringify({'username': username,
                                              'token': token,
                                              'subscription': subscription})
                   })
        .then(function(response) {
                if (!response.ok) {
                throw new Error('Bad status code from server.');
                }
        
                return response;
                });
        }
        </script>
        {% endif %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
