{# src/Cairn/UserBundle/Resources/views/Banknote/view.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block title %}
  Réseau du Cairn - {{ parent() }}
{% endblock %}

{% block fos_user_content %}

  <h2> Etat du billet </h2>

  <div class="well">
<li> {{banknote.number }} </li>    
<li> {{banknote.value }} </li>
<li> Dernière modification : {{banknote.status.lastUpdate|date('Y-m-d H:i:s') }} </li>
<li> Actuellement : {{banknote.status.status }} </li>
<li> Dernier point de passage : {{banknote.status.exchangeOffice.name }} </li>

  </div>

  <p>
     <a href="{{ path('cairn_user_banknote_edit', {'id': banknote.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Mettre à jour le billet
    </a>
     <a href="{{ path('cairn_user_banknote_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-trash"></i>
      Retour à la gestion des billets 
    </a>
  </p>

{% endblock %}
