{# src/Cairn/UserBundle/Resources/views/Default/change_password.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               

{% block body %}
    {{parent()}} 

    {{
        include('CairnUserBundle:Default:warning_password_tries.html.twig')
    }}      

     <div class="well">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{form_end(form) }}
    </div>
   
{% endblock %}
