{# src/Cairn/UserBundle/Resources/views/Admin/index.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{%block stylesheets %}
{% endblock %}
{% block body %}
    {{parent()}}
 <h2> Espace Administrateur {{ app.user.name }}</h2>
<div>
    <a href="{{path('cairn_user_users_add') }}" class="btn green" ><i class="material-icons left">add</i>Ajouter un professionnel</a>
    <a href="{{path('cairn_user_users_search') }}" class="btn blue"><i class="material-icons left">search</i>Rechercher un professionnel</a>
    <div>
        <ul>
            {% for user in listUsers %}
               <li><a href="{{path('cairn_user_profile_view', {'username': user.username})}}">{{user.name}}</a></li>
            {% else %}
                Pas <em>encore</em> d'utilisateur !
            {% endfor %}
        <ul>
    </div>
</div>

{% endblock %}


