{# src/Cairn/UserBundle/Resources/views/Registration/index.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1> Qui est-il ?</h1>

        <div class="row">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col s6">
                    <a href="{{path('cairn_user_registration_type',{type:'superAdmin'} ) }}" >
                        <img src="{{asset('bundles/cairnuser/img/admin.jpg')}}" alt="Un Administrateur" class="responsive-img">
                    </a>
                </div>
                <div class="col s6">
                    <a href="{{path('cairn_user_registration_type',{type:'localGroup'} ) }}" >
                        <img src="{{asset('bundles/cairnuser/img/gl.jpg')}}" alt="Un Groupe local"  class="responsive-img">
                    </a>
                </div>
            {% endif %}
            <div class="col s6">
                <a href="{{path('cairn_user_registration_type',{type:'pro'} ) }}" >
                    <img src="{{asset('bundles/cairnuser/img/pro.jpg')}}" alt="Un professionnel" class="responsive-img">
                </a>
            </div>
            <div class="col s6">
                <a href="{{path('cairn_user_registration_type',{type:'person'} ) }}" >
                    <img src="{{asset('bundles/cairnuser/img/part.jpg')}}" alt="Un particulier"  class="responsive-img">
                </a>
            </div>
        </div>

    {% endif %}

    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <h2> Qui êtes-vous ? </h2>
        <div class="row">
            <div class="col s6">
                <a href="{{path('cairn_user_registration_type',{type:'pro'} ) }}" >
                    <img src="{{asset('bundles/cairnuser/img/pro.jpg')}}" alt="Un professionnel" class="responsive-img">
                </a>
            </div>
            <div class="col s6">
                <a href="{{path('cairn_user_registration_type',{type:'person'} ) }}" >
                    <img src="{{asset('bundles/cairnuser/img/part.jpg')}}" alt="Un particulier"  class="responsive-img">
                </a>
            </div>
        </div>
    {% endif %}
         
{% endblock %}
