{# src/Cairn/UserBundle/Resources/views/Admin/dashboard.html.twig #}         

{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}
{% block body %}
    {{parent()}} 

    {% set pros = allUsers.pros %}
    {% set persons = allUsers.persons %}
    {% set admins = allUsers.admins %}
    {% set superAdmins = allUsers.superAdmins %}

<div class="row">
    <br>
    <a href="{{path('cairn_user_registration') }}" class="btn green" ><i class="material-icons left">add</i>Créer un espace membre </a>
    <a href="#" class="user-search-button btn blue"><i class="material-icons left">search</i>Rechercher un compte</a>
    <div class="row">
        {{ form_start(form, {'method': 'post', 'attr': {'class': 'form_search_user'}} ) }}
        <div class="col s12 m8 l6">
        {{form_row(form.cairn_user, {'attr': {'class': 'form_search_user'}} ) }}
        {{form_row(form.forward) }}
        </div>
        {{ form_rest(form) }}
        {{form_end(form) }}   
    </div>

    <br>

    {% set nbElementsPerTab = 5 %}
    
    <div class="col s12 m6">
        <h2> En attente de carte </h2>

        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#part_nocard">Particuliers</a></li>
                <li class="tab col s3"><a href="#pro_nocard">Professionnels</a></li>
            </ul>
        </div>

        <div id="part_nocard" class="col s12">
                {% set usersCount = persons.nocard|length %}
                {% set cmpt = 0 %}
                {% set nbTabs = usersCount // nbElementsPerTab %}

                {% if not usersCount is divisible by(nbElementsPerTab) %}
                    {% set nbTabs = nbTabs + 1 %}
                {% endif %}

                {% if nbTabs != 0 %}
                    <div class="col s12">
                      <ul class="tabs">
                        {% for i in 1..nbTabs %}
                        <li class="tab col s3"><a href="#part_nocard{{i}}">Tab {{i}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    {% for i in 1..nbTabs %}
                        <div id="tab_nocard{{i}}" class="col s12">
                            <ul class="collection">
                                {% for i in 1..nbElementsPerTab %}
                                    {% if cmpt < usersCount %}
                                        {% set person = persons.nocard[cmpt] %}
                                        <li class="collection-item">
                                            <a href="{{path('cairn_user_profile_view', {'username': person.username})}}"> <span class="title">{{person.name}}</span></a>
                                        </li>
                                        
                                        {% set cmpt = cmpt + 1 %}
                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}

        </div>
        <div id="pro_nocard" class="col s12">
                {% set usersCount = pros.nocard|length %}
                {% set cmpt = 0 %}
                {% set nbTabs = usersCount // nbElementsPerTab %}

                {% if not usersCount is divisible by(nbElementsPerTab) %}
                    {% set nbTabs = nbTabs + 1 %}
                {% endif %}

                {% if nbTabs != 0 %}
                    <div class="col s12">
                      <ul class="tabs">
                        {% for i in 1..nbTabs %}
                            <li class="tab col s3"><a href="#pro_nocard{{i}}">Tab {{i}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    {% for i in 1..nbTabs %}
                        <div id="pro_nocard{{i}}" class="col s12">
                            <ul class="collection">
                                {% for i in 1..nbElementsPerTab %}
                                    {% if cmpt < usersCount %}
                                        {% set pro = pros.nocard[cmpt] %}
                                        <li class="collection-item">
                                            <a href="{{path('cairn_user_profile_view', {'username': pro.username})}}"> <span class="title">{{pro.name}}</span></a>
                                        </li>
                                        
                                        {% set cmpt = cmpt + 1 %}
                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
    </div>

    
    <div class="col s12 m6">

        <h2> En attente d'ouverture de compte</h2>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#part_pending">Particuliers</a></li>
                <li class="tab col s3"><a href="#pro_pending">Professionnels</a></li>
            </ul>
        </div>

        <div id="part_pending" class="col s12">
                {% set usersCount = persons.pending|length %}
                {% set cmpt = 0 %}
                {% set nbTabs = usersCount // nbElementsPerTab %}

                {% if not usersCount is divisible by(nbElementsPerTab) %}
                    {% set nbTabs = nbTabs + 1 %}
                {% endif %}

                {% if nbTabs != 0 %}
                    <div class="col s12">
                      <ul class="tabs">
                        {% for i in 1..nbTabs %}
                            <li class="tab col s3"><a href="#part_pending{{i}}">Tab {{i}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    {% for i in 1..nbTabs %}
                        <div id="part_pending{{i}}" class="col s12">
                            <ul class="collection">
                                {% for i in 1..nbElementsPerTab %}
                                    {% if cmpt < usersCount %}
                                        {% set person = persons.pending[cmpt] %}
                                        <li class="collection-item">
                                            <a href="{{path('cairn_user_profile_view', {'username': person.username})}}"> <span class="title">{{person.name}}</span></a>
                                        </li>
                                        
                                        {% set cmpt = cmpt + 1 %}
                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
        <div id="pro_pending" class="col s12">
                {% set usersCount = pros.pending|length %}
                {% set cmpt = 0 %}
                {% set nbTabs = usersCount // nbElementsPerTab %}

                {% if not usersCount is divisible by(nbElementsPerTab) %}
                    {% set nbTabs = nbTabs + 1 %}
                {% endif %}

                {% if nbTabs != 0 %}
                    <div class="col s12">
                      <ul class="tabs">
                        {% for i in 1..nbTabs %}
                            <li class="tab col s3"><a href="#pro_pending{{i}}">Tab {{i}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    {% for i in 1..nbTabs %}
                        <div id=#pro_pending{{i}}" class="col s12">
                            <ul class="collection">
                                {% for i in 1..nbElementsPerTab %}
                                    {% if cmpt < usersCount %}
                                        {% set pro = pros.pending[cmpt] %}
                                        <li class="collection-item">
                                            <a href="{{path('cairn_user_profile_view', {'username': pro.username})}}"> <span class="title">{{pro.name}}</span></a>
                                        </li>
                                        
                                        {% set cmpt = cmpt + 1 %}
                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
    </div>
    

    <div class="col s12 m6">
        <h2> En opposition de compte</h2>

        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#part_blocked">Particuliers</a></li>
                <li class="tab col s3"><a href="#pro_blocked">Professionnels</a></li>
            </ul>
        </div>

        <div id="part_blocked" class="col s12">
                {% set usersCount = persons.blocked|length %}
                {% set cmpt = 0 %}
                {% set nbTabs = usersCount // nbElementsPerTab %}

                {% if not usersCount is divisible by(nbElementsPerTab) %}
                    {% set nbTabs = nbTabs + 1 %}
                {% endif %}

                {% if nbTabs != 0 %}
                    <div class="col s12">
                      <ul class="tabs">
                        {% for i in 1..nbTabs %}
                            <li class="tab col s3"><a href="#part_blocked{{i}}">Tab {{i}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    {% for i in 1..nbTabs %}
                        <div id="part_blocked{{i}}" class="col s12">
                            <ul class="collection">
                                {% for i in 1..nbElementsPerTab %}
                                    {% if cmpt < usersCount %}
                                        {% set person = persons.blocked[cmpt] %}
                                        <li class="collection-item">
                                            <a href="{{path('cairn_user_profile_view', {'username': person.username})}}"> <span class="title">{{person.name}}</span></a>
                                        </li>
                                        
                                        {% set cmpt = cmpt + 1 %}
                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
        <div id="pro_blocked" class="col s12">
                {% set usersCount = pros.blocked|length %}
                {% set cmpt = 0 %}
                {% set nbTabs = usersCount // nbElementsPerTab %}

                {% if not usersCount is divisible by(nbElementsPerTab) %}
                    {% set nbTabs = nbTabs + 1 %}
                {% endif %}

                {% if nbTabs != 0 %}
                    <div class="col s12">
                      <ul class="tabs">
                        {% for i in 1..nbTabs %}
                            <li class="tab col s3"><a href="#pro_blocked{{i}}">Tab {{i}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    {% for i in 1..nbTabs %}
                        <div id="pro_blocked{{i}}" class="col s12">
                            <ul class="collection">
                                {% for i in 1..nbElementsPerTab %}
                                    {% if cmpt < usersCount %}
                                        {% set pro = pros.blocked[cmpt] %}
                                        <li class="collection-item">
                                            <a href="{{path('cairn_user_profile_view', {'username': pro.username})}}"> <span class="title">{{pro.name}}</span></a>
                                        </li>
                                        
                                        {% set cmpt = cmpt + 1 %}
                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}

        </div>
    </div>
        
    <div class="col s12 m6">
        <h2> En attente de clôture</h2>

        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#part_toremove">Particuliers</a></li>
                <li class="tab col s3"><a href="#pro_toremove">Professionnels</a></li>
            </ul>
        </div>

        <div id="part_toremove" class="col s12">
                {% set usersCount = persons.toRemove|length %}
                {% set cmpt = 0 %}
                {% set nbTabs = usersCount // nbElementsPerTab %}

                {% if not usersCount is divisible by(nbElementsPerTab) %}
                    {% set nbTabs = nbTabs + 1 %}
                {% endif %}

                {% if nbTabs != 0 %}
                    <div class="col s12">
                      <ul class="tabs">
                        {% for i in 1..nbTabs %}
                            <li class="tab col s3"><a href="#part_toremove{{i}}">Tab {{i}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    {% for i in 1..nbTabs %}
                        <div id="part_toremove{{i}}" class="col s12">
                            <ul class="collection">
                                {% for i in 1..nbElementsPerTab %}
                                    {% if cmpt < usersCount %}
                                        {% set person = persons.toRemove[cmpt] %}
                                        <li class="collection-item">
                                            <a href="{{path('cairn_user_profile_view', {'username': person.username})}}"> <span class="title">{{person.name}}</span></a>
                                        </li>
                                        
                                        {% set cmpt = cmpt + 1 %}
                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
        <div id="pro_toremove" class="col s12">
                {% set usersCount = pros.toRemove|length %}
                {% set cmpt = 0 %}
                {% set nbTabs = usersCount // nbElementsPerTab %}

                {% if not usersCount is divisible by(nbElementsPerTab) %}
                    {% set nbTabs = nbTabs + 1 %}
                {% endif %}

                {% if nbTabs != 0 %}
                    <div class="col s12">
                      <ul class="tabs">
                        {% for i in 1..nbTabs %}
                            <li class="tab col s3"><a href="#pro_toremove{{i}}">Tab {{i}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>

                    {% for i in 1..nbTabs %}
                        <div id="pro_toremove{{i}}" class="col s12">
                            <ul class="collection">
                                {% for i in 1..nbElementsPerTab %}
                                    {% if cmpt < usersCount %}
                                        {% set pro = pros.toRemove[cmpt] %}
                                        <li class="collection-item">
                                            <a href="{{path('cairn_user_profile_view', {'username': pro.username})}}"> <span class="title">{{pro.name}}</span></a>
                                        </li>
                                        
                                        {% set cmpt = cmpt + 1 %}
                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}

        </div>
    </div>

</div>
{% endblock %}              
{% block javascripts %}
    <script>
        $(function (){
            jQuery.ajax({
                type: 'POST',
                url: "{{ path('cairn_accounts_ajax') }}",
                dataType: 'json',
                success: function (response) {
                    var accounts = response;
                    var data = {};
                    for (var i = 0; i < accounts.length; i++) {
                        data[accounts[i].name] = null;
                    }

                    $("#form_cairn_user").autocomplete({
                        data: data,
                        limit: 6, // The max amount of results that can be shown at once. Default: Infinity.
                        onAutocomplete: function(val){
                            baseUrl = "{{ path('cairn_user_profile_view',{'username': 'username_value'}) }}";
                            var redirectUrl = baseUrl.replace('username_value',response[Object.keys(data).indexOf(val)].username);

                            $('.form_search_user').attr('action', redirectUrl);
                        }
                    });
                }, 
            });
        });

    </script>

{% endblock %}
