{# src/Cairn/UserBundle/Resources/views/Admin/helloasso_credit.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 
    
    <div class="row">
        <div class="row">
          {{ form_start(formSearch) }}
            {{ form_rest(formSearch) }}
        {{ form_end(formSearch) }}
        </div>

        {% if payments is defined %} 
            {% for payment in payments %}

              <div class="col s12 m6 l4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title center">{{payment.id}}</span>
                        <p>
                            Date d'exécution : {{payment.date|date('d-m-Y')}} à {{payment.date|date('H:i')}}
                            <br>
                            montant : {{payment.amount/100}} CRN
                        </p>
                    </div>
                </div>
              </div>
            {% else %}  
                Aucun paiement via Helloasso ne correspond à votre recherche !
            {% endfor %}
        {% endif %}

        <div class="row">
          {{ form_start(formSync) }}
            {{ form_rest(formSync) }}
        {{ form_end(formSync) }}
        </div>

    </div>
{% endblock %}

