{# src/Cairn/UserBundle/Resources/views/Banking/account_operations.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <h1>{{account.type.name}}</h1>
    <h2>#{{account.number}}</h2>

    {{include("CairnUserBundle:Banking:account_download_options.html.twig",{'account':account})}}


    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">sort</i>Filtres</div>
            <div class="collapsible-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col s12 m6 l4">
                        {{ form_row(form.orderBy) }}
                    </div>
                    <div class="col s12 m6 l4">
                        {{ form_row(form.types) }}
                    </div>
                    <div class="col s6 l2">
                        {{ form_row(form.begin) }}
                    </div>
                    <div class="col s6 l2">
                        {{ form_row(form.end) }}
                    </div>
                    <div class="col s6">
                        {{ form_row(form.minAmount) }}
                    </div>
                    <div class="col s6">
                        {{ form_row(form.maxAmount) }}
                    </div>
                    {{ form_rest(form) }}
                </div>

                {{form_end(form) }}
            </div>
        </li>
    </ul>

    <h3>
        Solde aujourd'hui : <strong>{{account.status.balance}} cairns</strong>
    </h3>
    <h4>
        Dont opérations à venir : <strong>{{futureAmount}} cairns</strong>
    </h4>
<div>
    <table>
    <thead>
        <tr>
            <th> Date </th>
            <th> Opération </th> 
            <th> Montant </th>
            <th> Action </th>
  
        </tr>
    </thead>

    <tbody>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.executionDate|date('Y-m-d')}}</td>
            <td> <em> {{transaction.reason }} </em> </br>
                 {{transaction.description }}  
            </td> 
            <td class="transaction-amount">
                {% if transaction.debitorName == app.user.name %}
                     -{{transaction.amount}} cairns
                {% else %}
                     +{{transaction.amount}} cairns
                {% endif %}
            </td>
            <td> <a href="{{path('cairn_user_banking_transfer_view', {'type':'simple','id' : transaction.id})}}"> Voir le détail </a></td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}


