{# src/Cairn/UserBundle/Resources/views/Banking/accounts_download.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    {{ form_start(form) }}
    <div class="row">
        <div class="col s12 m6 l4">
            {{ form_row(form.format) }}
        </div>
        <div class="col s12 m6 l4">
            {{ form_row(form.accounts) }}
        </div>
        <div class="col s6 l2">
            {{ form_label(form.begin) }}
            {{ form_errors(form.begin) }}
            {{ form_widget(form.begin) }}
        </div>
        <div class="col s6 l2">
            {{ form_label(form.end) }}
            {{ form_errors(form.end) }}
            {{ form_widget(form.end) }}
        </div>
        {{ form_rest(form) }}
    </div>

    {{form_end(form) }}

{% endblock %}
