{# src/Cairn/UserBundle/Resources/views/Banking/account_operations.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    {{include("CairnUserBundle:Banking:account_download_options.html.twig",{'account':account})}}

    <div class="well">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{form_end(form) }}
    </div>
<div>
    <table>
    <caption> <span> Solde au {{ "now"|date("d-m-Y") }} : </span> <span> {{account.status.balance}} cairns </span> </br>
              <span> Dont opérations à venir : {{futureAmount}} cairns </span>

     </caption>
    
    <thead>
        <tr>
            <th> Date </th>
            <th> Opération </th> 
            <th> Montant </th>
            <th> Action </th>
  
        </tr>
    </thead>

    <tbody>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.executionDate|date('Y-m-d')}}</td>
            <td> <em> {{transaction.reason }} </em> </br>
                 {{transaction.description }}  
            </td> 
            <td> {{transaction.amount }} </td>
            <td> <a href="{{path('cairn_user_banking_transfer_view', {'type':'simple','id' : transaction.id})}}"> Voir le détail </a></td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}


