{# src/Cairn/UserBundle/Resources/views/Banking/account_operations.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <h1>{{account.type.name}}</h1>
    <h2>#{{account.number}}</h2>

    {{include("CairnUserBundle:Banking:account_download_options.html.twig",{'account':account})}}


    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">sort</i>Filtres</div>
            <div class="collapsible-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col s12 m6 l4">
                        {{ form_row(form.orderBy) }}
                    </div>
                    <div class="col s12 m6 l4">
                        {{ form_row(form.types) }}
                    </div>
                    <div class="col s6 l2">
                        {{ form_row(form.begin) }}
                    </div>
                    <div class="col s6 l2">
                        {{ form_row(form.end) }}
                    </div>
                    <div class="col s6 l3">
                        {{ form_row(form.debitor) }}
                    </div>
                    <div class="col s6 l3">
                        {{ form_row(form.creditor) }}
                    </div>

                    <div class="col s6 l3">
                        {{ form_row(form.minAmount) }}
                    </div>
                    <div class="col s6 l3">
                        {{ form_row(form.maxAmount) }}
                    </div>
                    {{ form_rest(form) }}
                </div>

                {{form_end(form) }}
            </div>
        </li>
    </ul>

    <h3>
        Solde aujourd'hui : <strong>{{account.status.balance}} cairns</strong>
    </h3>
    <h4>
        Dont opérations à venir : <strong>{{futureAmount}} cairns</strong>
    </h4>
<div>
    <table>
    <thead>
        <tr>
            <th> Date </th>
            <th> Opération </th> 
            <th> Montant </th>
            <th> Action </th>
  
        </tr>
    </thead>

    <tbody>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.executionDate|date('d-m-Y')}}</td>
            {% if transaction.type in constant('Cairn\\UserBundle\\Entity\\Operation::ARRAY_ADMIN_TYPES') %}
                {% if app.user.isAdmin() %}
                    {% if transaction.type in transaction.getDebitOperationTypes() %}
                        <td><em> {{transaction.reason}} {{transaction.debitorName}}</em></td>
                    {% elseif transaction.type in transaction.getToOperationTypes() %}
                        <td><em> {{transaction.reason}} {{transaction.creditorName}}</em></td>
                    {% endif %}
                    
                {% else %}
                    <td><em> {{transaction.reason}} </em></td>
                {% endif %}
            {% else %}
                <td><em> {{transaction.reason}} </em></td>
            {% endif%}
            
            {% if transaction.debitorName == app.user.name %}
                <td class="deb-amount"> -{{transaction.amount}} cairns </td>
            {% else %}
                <td class="cred-amount"> +{{transaction.amount}} cairns </td>
            {% endif %}
            </td>
            <td> <a href="{{path('cairn_user_banking_transfer_view', {'paymentID' : transaction.paymentID})}}"> Voir le détail </a></td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}


