{# src/Cairn/UserBundle/Resources/views/Banking/deposit_operations.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <div class="body_wrapper>
        <div id="deposit_action">
            <h1> Les dépôts </h1>
           <ul>
                <li><a href="{{path('cairn_user_banking_deposit_request')}}"> Effectuer un dépôt     </a> </li>
               {# <li><a href="{{path('cairn_user_banking_deposit_request',{'frequency': 'recurring'})}}"> Parmi les favoris </a></li>#}

           <ul> 
        </div>
        <div id="deposit_management">
            <h1> Gérer les dépôts </h1>
            <ul>
                <li><a href="{{path('cairn_user_banking_operations_view',{'frequency':'unique','type':'deposit'})}}"> Voir les dépôts </a></li>
                <li><a href="{{path('cairn_user_beneficiaries_list')}}"> Mes favoris </a></li>
            </ul>
        </div>
{% endblock %}


