{# src/Cairn/UserBundle/Resources/views/Banking/operation_confirm.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block stylesheets %} {{parent()}} {% endblock %}
{% block body %}
        {{parent()}}

        {% if operationReview.fromAccount.type.nature == 'USER' %}
            {% set fromID = operationReview.fromAccount.number %}
        {% else %}
            {% set fromID = operationReview.fromAccount.id %}
        {% endif %}

        {% if operationReview.toAccount.type.nature == 'USER' %}
            {% set toID = operationReview.toAccount.number %}
        {% else %}
            {% set toID = operationReview.toAccount.id %}
        {% endif %}

    <h1>Récapitulatif du paiement en cours </h1>
    
    <li>
        {% if operationReview.fromAccount.owner.display is defined %}
            {{ operationReview.fromAccount.owner.display }}
        {% else %}
            Association Le Cairn
        {% endif %}
        {{ operationReview.fromAccount.type.name }}
        {{ fromID }}

    </li>
    <li>
        {% if operationReview.toAccount.owner.display is defined %}
            {{ operationReview.toAccount.owner.display }}
        {% else %}
            Association Le Cairn
        {% endif %}
        {{ toID }}
    </li>
    <li>{{ operationReview.totalAmount.amount }}</li>
    
    <div class="well">
      {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
