{# src/Cairn/UserBundle/Resources/views/Banking/operation_confirm.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block stylesheets %} {{parent()}} {% endblock %}
{% block body %}
        {{parent()}}

        {% if operationReview.fromAccount.type.nature == 'USER' %}
            {% set fromID = operationReview.fromAccount.number %}
        {% else %}
            {% set fromID = operationReview.fromAccount.id %}
        {% endif %}

        {% if operationReview.toAccount.type.nature == 'USER' %}
            {% set toID = operationReview.toAccount.number %}
        {% else %}
            {% set toID = operationReview.toAccount.id %}
        {% endif %}

    <h1>Récapitulatif du paiement en cours </h1>

    Paiement de <strong> {{ operationReview.totalAmount.amount }} </strong>

    de <strong>{% if operationReview.fromAccount.owner.display is defined %}
    {{ operationReview.fromAccount.owner.display }}
{% else %}
    Association Le Cairn
{% endif %}
    {{ operationReview.fromAccount.type.name }}
    {{ fromID }}</strong>

    à

    <strong> {% if operationReview.toAccount.owner.display is defined %}
            {{ operationReview.toAccount.owner.display }}
        {% else %}
            Association Le Cairn
        {% endif %}
        {{ toID }}</strong>

    <br> <br>
    {% if date|date('Y-m-d') == 'now'|date('Y-m-d') %}
        Execution : <b> Maintenant </b>
    {% else %}
        A exécuter le <b>{{date|date('d/m/Y')}}</b>
    {% endif %}
    <br><br>
    <div class="well">
      {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
