{# src/Cairn/UserBundle/Resources/views/Banking/reconversion.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <div class="well">
      {{ form_start(form) }}
        {{ form_row(form.fromAccount) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.reason) }}
        {{ form_row(form.description) }}
    
        <div class="row">
            <em>Commission de 2%</em> (utilisable en parrainage) : <span class="reconversion_fee"> </span>
        </div>
        <div class="row">
            <em>Euros à recevoir (98%)</em> : <span class="reconversion_payment"> </span>
        </div>

        <div class="col s12 m8 left-align">
            <a class="waves-effect waves-light modal-trigger btn btn-request" href="#modal2"><span>Reconvertir</span></a>
        
            <div id="modal2" class="modal">
                <div class="modal-content center-align">
                    <h4>Récapitulatif de votre {{operation.getTypeName(operation.type)}}</h4>
                    <div class="transfer_data">
                        <ul>
                            <li><span class="black-text"> Compte débité</span>: <span class="grey-text text-darken-2 reconversion_account"> </span> </li> 
                            <li><span class="black-text"> Montant </span>: <span class="grey-text text-darken-2 reconversion_amount"> </span> </li> 
                            <li><span class="black-text"> Motif court </span>: <span class="grey-text text-darken-2 reconversion_reason"> </span> </li> 
                            <li><span class="black-text"> Motif long </span>: <span class="grey-text text-darken-2 reconversion_description"> </span> </li> 
                        </ul>
                    </div>
                    {{ form_row(form.save) }}
                </div>
            </div>
        </div>

      {{ form_rest(form) }}
      {{ form_end(form) }}

    </div>


{% endblock %}

{% block javascripts %}
    <script>
        jQuery(function ($) {
            $amountInput = $('#cairn_userbundle_reconversion_amount');

            $button = $('#cairn_userbundle_reconversion_save');

            $accountContainer = $('#cairn_userbundle_reconversion_fromAccount');
            
            var res = /(\d+\.\d{2})/.exec($accountContainer.text());
            balance = parseFloat(res[0]);

            $('.btn-request').on('click', function(e){
                $(".reconversion_description").text($('#cairn_userbundle_reconversion_description').val());
                $(".reconversion_reason").text($('#cairn_userbundle_reconversion_reason').val());
                $(".reconversion_amount").text($('#cairn_userbundle_reconversion_amount').val() + ' cairns');
                $(".reconversion_account").text($accountContainer.text() + ' n° ' + $accountContainer.val());
            });

            $amountInput.on('input', function(e) {
                
                amount = parseFloat($(this).val());


                var fee = 0.02*amount;
                var payment_amount = 0.98*amount;

                $('span.reconversion_fee').text(fee.toFixed(2));
                $('span.reconversion_payment').text(payment_amount.toFixed(2));

                if(amount > balance){
                    $('.btn-request').attr('disabled',true);
                    $button.attr('disabled',true);
                    $amountInput.css({'color':'red'}); 
                }else{
                    $('.btn-request').attr('disabled',false);
                    $button.attr('disabled',false);
                    $amountInput.css({'color':''}); 

                }
            });
        });
    </script>
{% endblock %}
