{# src/Cairn/UserBundle/Resources/views/Banking/reconversion.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <div class="well">
      {{ form_start(form) }}
      {{ form_widget(form.fromAccount, {'attr': {'class':'hidden-row'} }) }}
      {{ form_rest(form) }}
      {{ form_end(form) }}

    </div>

    {{include("CairnUserBundle:Banking:accounts_list.html.twig",{'accounts':accounts,'type':'debit'})}}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

    <script>
        jQuery(function ($) {
            $formAccountOwner = $('#reconversion_fromAccount_owner');    
            $formAccountId = $('#reconversion_fromAccount_id');    
           
            $containerAccount = $('.account'); 
            $containerAccount.click(function (e){
                $formAccountOwner.val($(this).children("em")[0].innerText) ;
                $formAccountId.val($(this).children("span:last")[0].innerText);
            });
        });
    </script>
{% endblock %}
