{# src/Cairn/UserBundle/Resources/views/Banking/transfer_view.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}
    <div>
        <h1> Détail de l'opération </h1>
        {% if transfer.id is defined %}
            <a href="{{path('cairn_user_banking_transfer_notice_download',{'paymentID':transfer.paymentID})}}" class="btn"><i class="material-icons left">file_download</i> Avis d'opération </a>
        {% endif %}


        <h2> Compte débité </h2>
            <ul>
                <li> Nom : {{transfer.debitorName}}</li>
                <li> ICC : {{transfer.fromAccountNumber}}</li>
            </ul>

        <h2> Compte crédité </h2>
            <ul>
                 <li>Nom : {{transfer.creditorName}}</li>
                 <li> ICC : {{transfer.toAccountNumber}}</li>
                </li>

            </ul>

        <em> Date d'exécution demandée : {{transfer.executionDate|date('Y-m-d')}} </em> </br>
        <em> Date de soumission : {{transfer.submissionDate|date('Y-m-d')}} </em> </br>
        <em> Montant : {{transfer.amount}} </em></br>
        <em> Motif : {{transfer.reason}} </em></br>
        <em> Description : {{transfer.description}} </em></br>
    </div>    
{% endblock %}
