{# src/Cairn/UserBundle/Resources/views/Banking/transaction.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <div class="well">
      {{ form_start(form) }}
        {{ form_widget(form) }}
      {{ form_rest(form) }}
      {{ form_end(form) }}

    </div>

    {{include("CairnUserBundle:Banking:accounts_list.html.twig",{'accounts':fromAccounts,'type':'debit'})}}

{% endblock %}

