{# src/Cairn/UserBundle/Resources/views/Banking/transaction_operations.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <div class="body_wrapper>
        <div id="transaction_action">
            <h1> Effectuer un virement </h1>
           <ul>
                <li><a href="{{path('cairn_user_banking_transaction_to',{'frequency': 'unique'})}}"> Virement unique     </a></li>
{#                <li><a href="{{path('cairn_user_banking_transaction_to',{'frequency': 'recurring'})}}"> Virement permanent </a></li>#}

           <ul> 
        </div>
        <div id="transfer_management">
            <h1> Gérer ses virements </h1>
            <ul>
                <li><a href="{{path('cairn_user_banking_operations_view',{'frequency':'unique','type':'transaction'})}}"> Virements uniques </a></li>
{#                <li><a href="{{path('cairn_user_banking_operations_view',{'frequency':'recurring','type':'transaction'})}}"> Virements permanents </a></li >#}
                {% if not is_granted('ROLE_ADMIN') %}
                    <li><a href="{{path('cairn_user_beneficiaries_list')}}"> Mes bénéficiaires </a></li>
                {% endif %}
            </ul>
        </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

<script>
jQuery(function ($) {
    ;    
});
</script>
{% endblock %}
