{# src/Cairn/UserBundle/Resources/views/Banking/view_reconversions.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

<div>
    <table>
    <caption> <span> Vos reconversions passées </span> </caption>
    <thead>
        <tr>
            <th> Date d'éxecution </th>
            <th> Compte débité</th>
            <th> Motif </th> 
            <th> Montant </th>
 
        </tr>
    </thead>

    <tbody>
    {% for transaction in processedTransactions %}
                <tr>
                    <td> {{transaction.date}} </td>
                    <td>
                        {% if transaction.relatedOwner.display is defined %}
                            {{transaction.relatedOwner.display}}
                        {% else %}
                            Association Le Cairn
                        {% endif %}
                    </td>
                    <td> {{transaction.description }} </td>  
                    <td> {{transaction.amount }} </td>
                </tr>
    {% else %}
        Aucune reconversion effectuée 
    {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}

