{# src/Cairn/UserBundle/Resources/views/Banking/view_single_transactions.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    {% if futureInstallments | length %}
    <table>
    <h2>Vos virements à venir</h2>
    <thead>
        <tr>
            <th> Date de demande </th>
            <th> Date d'éxecution </th>
            <th> Bénéficiaire</th>
            <th> Motif </th> 
            <th> Montant </th>
            <th> Etat </th>
            <th> Action </th>
 
        </tr>
    </thead>

    <tbody>
    {% for installment in futureInstallments %}
                <tr>
                    <td> {{installment.submissionDate|date('d-m-Y')}} </td>
                    <td> {{installment.executionDate|date('d-m-Y')}} </td>
                    <td> <span> {{installment.creditorName}} </span> </td>
                    <td> {{installment.reason }} </td>  
                    <td> {{installment.amount }} </td>
                    {% if installment.type == constant('Cairn\\UserBundle\\Entity\\Operation::TYPE_TRANSACTION_SCHEDULED') %}
                        <td> En cours </td>
                    {% elseif installment.type == constant('Cairn\\UserBundle\\Entity\\Operation::TYPE_SCHEDULED_FAILED') %}
                        <td> Echoué </td>
                    {% endif %}
                    <td>
                         <a class="confirmModalLink" href="{{path('cairn_user_banking_transaction_scheduled_changestatus', {'id' : installment.paymentID,'status' : 'cancel' })}}"> Annuler </a>
                     | 
                         <a class="confirmModalLink" href="{{path('cairn_user_banking_transaction_scheduled_changestatus', {'id' : installment.paymentID,'status' : 'execute' })}}"> Exécuter maintenant </a>
                    <br>
                         <a href="{{path('cairn_user_banking_transfer_view', {'paymentID' : installment.paymentID})}}"> Voir le détail </a>
                    </td>
                </tr>
    {% else %}
        <tr>
            <td colspan="7" class="center-align">Aucun virement en attente</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <div id="confirmModal" class="modal center-align">
         <div class="modal-content center-align">
             <h4> Êtes-vous sûr(e) de vouloir continuer ? </h4>
         </div>
        {{ form_start(form, {'method': 'post','attr': {'class': 'confirm_operation'}}) }}

                <div class="input-field col s12 m6">
                    {{ form_widget(form.save) }}
                    {{ form_label(form.save) }}
                </div>
                <div class="input-field col s12 m6">
                    <a href="#" class="btn red" id="confirmModalNo">Annuler</a>
                </div>
                {{ form_row(form.cancel,  {'attr': {'class':'hide'} }) }}
                
            {{ form_rest(form) }}
            {{ form_end(form) }}
    </div>

{% endif %}

    <h2>Vos virements passés</h2>
    <table cellpadding="1" cellspacing="1" class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th> Date d'éxecution </th>
            <th> Bénéficiaire</th>
            <th> Motif </th> 
            <th> Montant </th>
            <th> Action </th>

        </tr>
    </thead>

    <tbody>
    {% for i in 1..100 %}
    {% for transaction in processedTransactions %}
                <tr>
                    <td> {{transaction.executionDate|date('d-m-Y')}} </td>
                    <td>
                        {#{% if transaction.creditor is defined %}#}
                            {#<a href="{{path('cairn_user_profile_view', {'username' : transaction.creditor.username})}}"> {{transaction.creditorName}} </a>#}
                        {#{% else %}#}
                            {{transaction.creditorName}}
                        {#{% endif %}#}
                    </td>
                    <td> {{transaction.reason }} </td>  
                    <td> {{transaction.amount }} </td>
                    <td> <a href="{{path('cairn_user_banking_transfer_view', {'paymentID' : transaction.paymentID})}}"> Voir le détail </a></td>
                </tr>
    {% else %}
        <tr>
            <td colspan="5" class="center-align">Aucun virement en attente</td>
        </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function (){

            $(".confirmModalLink").click(function(e) {
                e.preventDefault();
                theHREF = $(this).attr("href");
                $('form.confirm_operation').attr('action',theHREF);
                $("#confirmModal").modal("open");

            });

            $("#confirmation_save").click(function(e) {
                $('form.confirm_operation').submit();
               
            });

            $("#confirmModalNo").click(function(e) {
                $("#confirmModal").modal("close"); 
            });

        });
    </script>

{% endblock %}
