{# src/Cairn/UserBundle/Resources/views/Banking/view_detailed_recurring_transactions.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}
    <div>
        <table>
        <caption> <span> Détail du virement permanent</span> </caption>
        <thead>
            <tr>
                <th> N° </th>
                <th> Montant </th>
                <th> Date d'éxecution</th>
                <th> Etat </th>
                <th> Action </th> 
            </tr>
        </thead>
    
        <tbody>
        {% for occurrence in data.occurrences %}
                    <tr>
                        <td> {{occurrence.number}} </td>
                        <td>{{occurrence.currencyAmount.amount}} </td>
                        <td> {{occurrence.date }} </td>  
                        <td> {{occurrence.status }} </td>
                        <td>
                             {% if occurrence.status == 'FAILED' %}
                                <a href="{{path('cairn_user_banking_transaction_occurrence_execute',{'id': occurrence.id })}}" >Executer </a>
                             {% else %}
                                <a href="{{path('cairn_user_banking_transfer_view', {'type':'recurring','id' : occurrence.id})}}"> Voir le détail </a>
                             {% endif %}
                        </td>
                    </tr>
        {% else %}
            Aucune occurrence executée
        {% endfor %}
        </tbody>
        </table>
    </div>    
{% endblock %}
