{# src/Cairn/UserBundle/Resources/views/Banking/view_conversions.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

<div>
   {# <table>
    <caption> <span> Vos conversions à venir </span> </caption>
    <thead>
        <tr>
            <th> Date de demande </th>
            <th> Date d'éxecution </th>
            <th> Compte crédité</th>
            <th> Motif </th> 
            <th> Montant </th>
            <th> Action </th>
 
        </tr>
    </thead>

    <tbody>
    {% for conversion in ongoingTransactions %}
                <tr>
                    <td> {{conversion.scheduledPayment.date}} </td>
                    <td> {{conversion.dueDate}} </td>
                    <td>
                        {% if conversion.scheduledPayment.relatedOwner.display is defined %}
                            {{conversion.scheduledPayment.relatedOwner.display}}
                        {% else %}
                            Association Le Cairn
                        {% endif %}
                    </td>
                    <td> {{conversion.scheduledPayment.description }} </td>  
                    <td> {{conversion.amount }} </td>
                    <td> <a href="{{path('cairn_user_banking_transfer_scheduled_changestatus', {'id' : conversion.scheduledPayment.id,'status' : 'cancel' })}}"> Annuler </a>
                     | 
                    {% if conversion.status == 'BLOCKED' %}
                        <a href="{{path('cairn_user_banking_transfer_scheduled_changestatus', {'id' : conversion.scheduledPayment.id, 'status':'open' })}}"> Débloquer </a>  </td>
                    {% elseif  conversion.status == 'SCHEDULED' %}
                        <a href="{{path('cairn_user_banking_transfer_scheduled_changestatus', {'id' : conversion.scheduledPayment.id, 'status':'block' })}}"> Bloquer </a>  </td>
                    {% endif %}
                </tr>
    {% else %}
        Aucune conversion en attente 
    {% endfor %}
    </tbody>
    </table>#}

    <table>
    <caption> <span> Vos conversions passées </span> </caption>
    <thead>
        <tr>
            <th> Date d'éxecution </th>
            <th> Compte crédité</th>
            <th> Motif </th> 
            <th> Montant </th>
 
        </tr>
    </thead>

    <tbody>
    {% for transaction in processedTransactions %}
                <tr>
                    <td> {{transaction.date}} </td>
                    <td>
                        {% if transaction.relatedOwner.display is defined %}
                            {{transaction.relatedOwner.display}}
                        {% else %}
                            Association Le Cairn
                        {% endif %}
                    </td>
                    <td> {{transaction.description }} </td>  
                    <td> {{transaction.amount }} </td>
                </tr>
    {% else %}
        Aucune conversion effectuée 
    {% endfor %}
    </tbody>
    </table>

</div>
{% endblock %}

