{# src/Cairn/UserBundle/Resources/views/Banking/withdrawal_operations.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <div class="body_wrapper>
        <div id="withdrawal_action">
            <h1> Les retraits </h1>
           <ul>
                <li><a href="{{path('cairn_user_banking_withdrawal_request')}}"> Effectuer un retrait </a> </li>
               {# <li><a href="{{path('cairn_user_banking_withdrawal_request',{'frequency': 'recurring'})}}"> Parmi les favoris </a></li>#}

           <ul> 
        </div>
        <div id="withdrawal_management">
            <h1> Gérer les retraits </h1>
            <ul>
                <li><a href="{{path('cairn_user_banking_operations_view',{'frequency':'unique','type':'withdrawal'})}}"> Voir les retraits </a></li>
                <li><a href="{{path('cairn_user_beneficiaries_list')}}"> Mes favoris </a></li>
            </ul>
        </div>
{% endblock %}


