{% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div class="row">
            <div class="col s12">
                <div class="card-panel teal error lighten-1">
                    <span class="white-text">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            </div>
        </div>
    {% endif %}

    <section>
        <div class="row">
            <div class="col s12 m8 offset-m2 l4 offset-l4">
                <div class="row login_form">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">person_outline</i>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username">
                            <label for="username">Nom d'utilisateur</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input type="password" id="password" name="_password" required="required" autocomplete="current-password">
                            <label for="password">Mot de passe</label>
                        </div>
                        <div class="col s12 center">
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <span>Se souvenir de moi</a></span>
                            </label>
                            <br>
                            <br>
                            <button type="submit" id="_submit" name="_submit" value="Connexion" class="waves-effect waves-light btn">
                                Connexion
                                <i class="material-icons right">check</i>
                            </button>
                            <br>
                            <br>
                            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe ou identifiant oublié ?</a>
                        </div>

                    </form>
                </div>
                <div class="row login_form center">
                    Adhérent, vous n'utilisez pas encore le numérique ? <br>
                    <a class="waves-effect waves-light btn blue" href="{{ path("cairn_user_registration") }}">Créer mon compte</a>
                    <br>
                    <br>
                    Pas encore adhérent  ? <br>
                    <a class="waves-effect waves-light btn orange" href="{{ register_url }}">Adhérer</a>
                </div>
            </div>
        </div>
    </section>
