{# src/Cairn/UserBundle/Resources/views/Card/card_operation.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
    <link rel="stylesheet" href="{{ asset('layout-style.css') }}" type="text/css" /> 
    <link rel="stylesheet" href="{{ asset('pro.css') }}" type="text/css" /> 

{% endblock %}
{% block body %}
    {{parent()}} 

    <ul class="list_card_operations">
        {% set card = user.card %}
        <li> <a class="operation_link" href="{{path('cairn_user_card_revoke',{'id':user.id})}}"> Révoquer la carte </a> </li>
        <li> <a class="operation_link" href="{{path('cairn_user_card_order',{'id':user.id})}}"> Commander une carte </a> </li>
    
        {% if user == app.user and card  %}
            {% if not card.enabled %}
               <li> <a class="operation_link" href="{{path('cairn_user_card_validate')}}"> Activer la carte </a> </li>
            {% endif %}
        {% endif %}
    
        {% if user.hasReferent(app.user) %}
            <li> <a class="operation_link" href="{{path('cairn_user_card_generate',{'id':user.id})}}"> Générer la carte </a></li>
        {% endif %}
    </ul>
{% endblock %}              



