{# src/Cairn/UserBundle/Resources/views/Card/card_operation.html.twig #}         

    {% set card = user.card %}
    {% if card  %}
        <a class="btn red" href="{{path('cairn_user_card_revoke',{'username':user.username})}}"><i class="material-icons left">clear</i>Déclaration de perte</a>
 
    {% else %}
        {% if user == app.user  %}
            {% if not app.session.get('orderCard') %}
                <a class="btn teal" href="{{path('cairn_user_card_order',{'type': 'remote'})}}">Commander une carte par voie postale</a>
                <a class="btn teal" href="{{path('cairn_user_card_order',{'type': 'local'})}}">Récupérer une carte au local du Cairn</a>
            {% endif %}
            <a class="btn green" href="{{path('cairn_user_card_associate',{'username':user.username})}}">Associer mon compte et ma carte de sécurité</a>
        {% elseif user.hasReferent(app.user) %}
            <a class="btn teal" href="{{path('cairn_user_card_download',{'username':user.username})}}">Télécharger une nouvelle carte automatiquement associée</a>
            <a class="btn green" href="{{path('cairn_user_card_associate',{'username':user.username})}}">Associer le compte à une carte de sécurité existante</a>
        {% endif %}
    {% endif %}

