{# src/Cairn/UserBundle/Resources/views/Card/confirm_new_card.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
    <link rel="stylesheet" href="{{ asset('layout-style.css') }}" type="text/css" /> 
    <link rel="stylesheet" href="{{ asset('pro.css') }}" type="text/css" /> 

{% endblock %}
{% block body %}
    {{parent()}} 

    <h2>Commander une nouvelle carte de sécurité Cairn</h2>

    <div>                                                                          
        {{ form_start(form) }}            
        {{form_end(form) }}   
    </div>                                                                         

{% endblock %}              

{% block javascripts %}
{% endblock %}


