{# src/Cairn/UserBundle/Resources/views/Card/generate.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 

    <div class="body_wrapper">
        <div id="confirm_action"> <em>Confirmer la génération de la carte de sécurité de {{user.name}} </em> </div> </br>
        Elle lui sera automatiquement associée
        {{ form_start(form) }}                                                       
         {{ form_rest(form) }}                                                        
        {{form_end(form) }}   
    </div>
{% endblock %}              

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

{% endblock %}
