{# src/Cairn/UserBundle/Resources/views/Card/list_available_cards.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}
{% block body %}
    {{parent()}} 
    
    <h2> les cartes en attente d'association </h2>

        {{ form_start(form) }}
        {{form_end(form) }}

    <ul>
        {% for card in availableCards %}
            <li> Code : {{card.code}} </li>
            <li> Date de génération : {{card.creationDate | date('Y-m-d H:i:s')}}
           <li><a href="{{path('cairn_user_card_destruct', {'id': card.id})}}"> Détruire</a></li>
        {% else %}  
            Aucune carte en attente d'association ne correspond à votre recherche!
        {% endfor %}
    </ul>

{% endblock %}              

{% block javascripts %}
{% endblock %}


