{# src/Cairn/UserBundle/Resources/views/Card/validate_card.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}
{% block body %}
    {{parent()}} 
    <div class="row">
        <div class="col s12">
            {% set code = security_service.vigenereEncode(card.code) %}

            <h2>Valider votre carte de sécurité Cairn de code {{code}} </h2>
            <h3>Pour vérifier votre identité, merci de saisir une clé</h3>
            {{include("CairnUserBundle:Card:warning_card_tries.html.twig",{'card': card})}}
        </div>
        {{ form_start(form) }}
        <p>Clé contenue dans la case numérotée <strong>{{position}}</strong> de votre carte de code {{code}}</p>
        <div class="input-field col s10 m4">
            {{ form_widget(form.field) }}
            {{ form_label(form.field) }}
            <span class="red-text">{{ form_errors(form.field) }}</span>
        </div>
        <div class="col s2">
            <button type="submit"class="btn">Valider</button>
        </div>
        <div class="col s12">
            <span class="red-text">{{ form_errors(form) }}</span>
            {{ form_widget(form) }}
        </div>
        {{ form_end(form.field) }}
    </div>

{% endblock %}              

{% block javascripts %}
{% endblock %}


