{# src/Cairn/UserBundle/Resources/views/Card/validate_card.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}
{% block body %}
    {{parent()}} 
    
    <h2>Valider votre carte de sécurité Cairn n° {{card.number}} </h2>
    <h3>Saisir une clé </h3>
    <div>                                                                          
        {{include("CairnUserBundle:Card:warning_card_tries.html.twig",{'card': card})}}
        Clé contenue dans la case numérotée <strong>{{position}}</strong> de votre carte n° {{card.number}}
        {{ form_start(form) }}
        {{form_end(form) }}
    </div>                                                                         

{% endblock %}              

{% block javascripts %}
{% endblock %}


