{# src/Cairn/UserBundle/Resources/views/User/activate.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}}
    <div class="body_wrapper">
        <div id="confirm_action"> <em>Confirmer l'activation de {{user.name}} </em> </div>
        {{ form_start(form) }}                                                       
         {{ form_rest(form) }}                                                        
        {{form_end(form) }}   
    </div>
{% endblock %}