{# src/Cairn/UserBundle/Resources/views/User/change_sms_data.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 
        <em> Attention </em> Un SMS vous sera envoyé. Assurez-vous d'être en mesure de le recevoir
        <div class="body_wrapper">
            {{ form_start(formSmsData) }}                                                       
             {{ form_rest(formSmsData) }}                                                        
            {{form_end(formSmsData) }}   
        </div>

        <div class="body_wrapper">
            {{ form_start(formCode) }}                                                       
             {{ form_rest(formCode) }}                                                        
            {{form_end(formCode) }}   
        </div>

{% endblock %}              

