{# src/Cairn/UserBundle/Resources/views/User/change_sms_data.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 
        <em> Attention </em> Un SMS vous sera envoyé en cas de changement de numéro. Assurez-vous d'être en mesure de le recevoir



       {{ form_start(formSmsData) }}
       {{ form_row(formSmsData.phoneNumber) }}                                      
       {{ form_row(formSmsData.smsEnabled) }}                                         
         {% if formSmsData.paymentEnabled is defined %}
           {{ form_row(formSmsData.paymentEnabled) }}                                         
        {% endif %}
         {% if formSmsData.identifier is defined %}
           {{ form_row(formSmsData.identifier) }}                                         
        {% endif %}

       {{ form_row(formSmsData.save) }}                                                  
       {{ form_rest(formSmsData) }}
       {{ form_end(formSmsData) }}

        {% if app.session.get('activationCode') %}
            <div class="body_wrapper">
                {{ form_start(formCode) }}                                                       
                 {{ form_rest(formCode) }}                                                        
                {{form_end(formCode) }}   
            </div>
        {% endif %}

{% endblock %}              

