{# src/Cairn/UserBundle/Resources/views/User/confirm_enable_sms.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 

    <p>
    Etes-vous certain de vouloir autoriser le paiement par SMS via le numéro {{user.phoneNumber}} ?
    </p>

    <form action="{{ path('cairn_user_users_sms_enable', {'id': user.id}) }}" method="post">
    <a href="{{ path('cairn_user_profile_view', {'username': user.username}) }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour au profil
    </a>
    <input type="submit" value="Confirmer" class="btn btn-default" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
    </form>
{% endblock %}              

