{# src/Cairn/UserBundle/Resources/views/User/index.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %} 
                                                                               
{% block title %}{% endblock %}                                               
                                                                               
{%block stylesheets %}
{% endblock %}
{% block body %}
    {{parent()}} 
    {% if app.user.hasRole('ROLE_PRO') %}
         <h1>Espace Professionnel {{ app.user.name }}</h1>
    {% elseif app.user.hasRole('ROLE_PERSON') %}
         <h1>Espace Particulier {{ app.user.name }}</h1>
    {% elseif app.user.hasRole('ROLE_ADMIN') %}
         <h1>Espace Groupe Local {{ app.user.name }}</h1>
    {% else %}
         <h1>Espace Administrateur {{ app.user.name }}</h1>
    {% endif %}
<p>

<div class="row">
    <div class="col s12 m6">
        <div  id="situation">
            <div class="card-panel z-depth-1">
                <h2>Ma situation
                    <a href="{{path('cairn_user_banking_accounts_overview',{'username':app.user.username})}}">
                        <i class="material-icons">more</i>
                    </a>
                </h2>
                <table>
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>N° de compte</th>
                        <th>Solde</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for account in accounts %}
                        <tr>
                            <td><a href="{{ path('cairn_user_banking_account_operations', {'accountID': account.id}) }}">{{account.type.name}}</a></td>
                            <td>{{account.number}}</td>
                            <td>{{account.status.balance}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="network">
            <div class="slider">
              <ul class="slides">
                  {% for pro in lastPros %}
                  
                  <li>
                    <a href="{{path('cairn_user_pros_list')}}">
                      {% if pro.image is not null %}
                          {% if pro.image.url is not null %}
                              <img src="{{asset('uploads/img/' ~ pro.image.id ~ '.' ~ pro.image.url)}}" alt="{{pro.image.alt}}" class="activator">
                          {% else %}
                              <img src="{{asset('bundles/cairnuser/img/pro.png')}}"alt="Logo utilisateur" class="activator">
                          {% endif %}
                      {% else %}
                          <img src="{{asset('bundles/cairnuser/img/pro.png')}}"alt="Logo utilisateur" class="responsive-img activator">
                      {% endif %}

                    <div class="caption center-align">
                      <h3>{{pro.name}}</h3>
                      <p class="light white-text">{{pro.description}}</p>
                    </div>
                     </a>

                  </li>

                  {% endfor %}
              </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div id="operations">
            <div class="card-panel z-depth-1">
                <h2>Mes dernières opérations</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Nature</th>
                        <th>Montant</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in lastTransactions %}
                        <tr>
                            <td>{{transaction.executionDate|date('d-m-Y')}}</td>
                            <td>{{transaction.reason}}</td>
                            {% if transaction.debitorName == app.user.name %}
                                <td class="deb-amount"> -{{transaction.amount}} cairns </td>
                            {% else %}
                                <td class="cred-amount"> +{{transaction.amount}} cairns </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
           var elems = document.querySelectorAll('.slider');
           var instances = M.Slider.init(elems);
         });
    </script>
{% endblock %}
