{# src/Cairn/UserBundle/Resources/views/User/list_users.html.twig #}         

{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
    <link rel="stylesheet" href="{{ asset('layout-style.css') }}" type="text/css" /> 
    <link rel="stylesheet" href="{{ asset('pro.css') }}" type="text/css" /> 

{% endblock %}
{% block body %}
    {{parent()}} 
<div>                                                                          
    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li><a href="{{path('cairn_user_registration') }}" >Ajouter un membre</a></li> 
            <li><a href="{{path('cairn_user_users_search') }}" >Rechercher un professionnel</a></li>
        </ul>
    {% endif %}
    <div>

        <h2> les membres en attente de carte </h2>
        <ul>
            {% for user in pendingCards %}
               <li><a href="{{path('cairn_user_profile_view', {'id': user.id})}}">{{user.name}}</a></li>
            {% else %}  
                pas <em>encore</em> de membre en attente de carte !
            {% endfor %}
        </ul>

        <h2> les professionnels validés</h2>
        <ul>
            {% for user in validPros.enabledPros %}
               <li><a href="{{path('cairn_user_profile_view', {'id': user.id})}}">{{user.name}}</a></li>
            {% else %}  
                pas <em>encore</em> de professionel inscrit !
            {% endfor %}
        </ul>

        <h2> les professionnels bloqués</h2>
        <ul>
            {% for user in validPros.blockedPros %}
               <li><a href="{{path('cairn_user_profile_view', {'id': user.id})}}">{{user.name}}</a></li>
            {% else %}  
                pas  de professionel bloqué !
            {% endfor %}
        </ul>

        <h2> les membres en attente de validation</h2>
            <h3> Les professionnels </h3>
            <ul>
                {% for user in pendingUsers.pros %}
                   <li><a href="{{path('cairn_user_users_activate', {'id': user.id})}}">{{user.name}}</a></li>
                {% else %}  
                    pas <em>encore</em> de professionel en attente !
                {% endfor %}
            </ul>
            <h3> Les groupes locaux </h3>
            <ul>
                {% for user in pendingUsers.admins %}
                   <li><a href="{{path('cairn_user_users_activate', {'id': user.id})}}">{{user.name}}</a></li>
                {% else %}  
                    pas <em>encore</em> de groupe local en attente !
                {% endfor %}
            </ul>

         <h2> Les groupes locaux valides </h2>
         <ul>
            {% for user in listAdmins %}
               <li><a href="{{path('cairn_user_profile_view', {'id': user.id})}}">{{user.name}}</a></li>
            {% else %}  
                Pas <em>encore</em> de groupe local inscrit !
            {% endfor %}
        </ul>
   
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <h2> Les administrateurs </h2>
            <ul>
               {% for user in listSuperAdmins %}
                  <li><a href="{{path('cairn_user_profile_view', {'id': user.id})}}">{{user.name}}</a></li>
               {% else %}  
                   Pas <em>encore</em> d'administrateur inscrit !
               {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}              

