{# src/Cairn/UserBundle/Resources/views/User/phone.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% form_theme formPhone 'form/materialize_form_theme.html.twig' %}

{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 

<div class="row">
    {{ form_start(formPhone) }}
    {% if formPhone.activationCode is defined %}
      {{ form_row(formPhone.activationCode) }}                                         
    {% else %}
            {% if formPhone.phoneNumber is defined %}
                {% if formPhone.identifier is defined %}
                    <div class="input-field phoneNumber col s12 m6">
                {% else %}
                    <div class="input-field">
                {% endif %}
                   {{ form_label(formPhone.phoneNumber) }} 
                   {{ form_errors(formPhone.phoneNumber) }} 
                   {{ form_widget(formPhone.phoneNumber) }} 
                </div>                                        
             {% endif %}
       
            {% if formPhone.identifier is defined %}
                <div class="input-field identifier col s12 m6">
                   {{ form_errors(formPhone.identifier) }} 
                   {{ form_widget(formPhone.identifier) }} 
                   {{ form_label(formPhone.identifier) }} 
                </div>                                        
            {% endif %}
            <p>
               <label>
                 {{ form_widget(formPhone.paymentEnabled) }}                                         
                 <span><b>Autoriser ce n° à payer par SMS</b></span>
               </label>
            </p>

            <div><button type="submit" id="cairn_userbundle_phone_save" class="waves-effect waves-light btn">Suivant</button></div> 
    {% endif %}

    {{ form_rest(formPhone) }}
    {{ form_end(formPhone) }}
    
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="js-user-name" data-get-name="{{app.user.username}}">
        <div class="js-user-role" data-is-pro="{{app.user.hasRole('ROLE_PRO')}}">
    {% endif %}

    <div id="modalIdentifier" class="modal">
         <div class="modal-content center-align">
             <h4> Attention !!</h4>
             <p><i class="material-icons large red-text">warning</i></p>
             <p> Ne modifier l'identifiant SMS <b>qu'après avoir eu l'accord du professionnel concerné</b> </p>
             <p>
             L’identifiant SMS est communiqué par le professionnel aux utilisateurs lors du paiement par SMS. Si l’identifiant SMS est modifié sans avoir informé le professionnel en amont, le <b>paiement par SMS va dysfonctionner</b>.
             </p>
         </div>
         <div class="modal-footer">
             <a href="#!" class="modal-close waves-effect waves-green btn-flat understood"><b>Compris !</b></a>
         </div>
     </div>

    <div id="modalPhoneNumber" class="modal">
         <div class="modal-content center-align">
             <h4> Nouveau n° de téléphone ?</h4>
             <p> En cas de nouveau numéro de téléphone, <b>un SMS avec un code de valdation</b> vous sera envoyé. <br>
                Assurez-vous d'être en mesure de le recevoir !
             </p>
         </div>
         <div class="modal-footer">
             <a href="#!" class="modal-close waves-effect waves-green btn-flat understood"><b>Compris !</b></a>
         </div>
     </div>

</div>
{% endblock %}              

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var identifierInputField = document.querySelector('input#cairn_userbundle_phone_identifier');

            var ModalElemId = document.querySelector('div#modalIdentifier');
            var ModalElemIdButton = ModalElemId.querySelector('a.understood');
            var isIdButtonClicked = false;

            var instanceModalIdentifier = M.Modal.init(ModalElemId,{
                onCloseEnd : function() {
                    identifierInputField.focus();
                }
            }) ;
            
            identifierInputField.addEventListener('click', function() {
                if(! isIdButtonClicked){
                    instanceModalIdentifier.open();
                }
            });

            ModalElemIdButton.addEventListener('click', function() {
                isIdButtonClicked = true;
            });

            var phoneNumberInputField = document.querySelector('input#cairn_userbundle_phone_phoneNumber');

            var ModalElemPhone = document.querySelector('div#modalPhoneNumber');
            var ModalElemPhoneButton = ModalElemPhone.querySelector('a.understood');
            var isPhoneButtonClicked = false;

            var instanceModalPhone = M.Modal.init(ModalElemPhone,{
                onCloseEnd : function() {
                    phoneNumberInputField.focus();
                }
            }) ;
            
            phoneNumberInputField.addEventListener('click', function() {
                if(! isPhoneButtonClicked){
                    instanceModalPhone.open();
                }
            });

            ModalElemPhoneButton.addEventListener('click', function() {
                isPhoneButtonClicked = true;
            });

        });
         
    </script>
{% endblock %}


