{# src/Cairn/UserBundle/Resources/views/Emails/email_confirmation.html.twig #}

{% block subject %}Validez votre adresse email{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Bonjour {% if user.firstname is defined %}{{ user.firstname | capitalize }}{% else %}{{ user.name | capitalize }}{% endif %} !

        Vous avez soumis une demande d'inscription via cette adresse email.
        Merci de valider votre adresse email en cliquant sur ce lien : {{ confirmationUrl }}

        Le Cairn

    {% endautoescape %}
{% endblock %}

{% block body_html %}
    Bonjour <b>{% if user.firstname is defined %}{{ user.firstname | capitalize }}{% else %}{{ user.name | capitalize }}{% endif %}</b> !<br>
    <br>
    Vous avez soumis une demande d'inscription sur la plateforme e-Cairn avec cette adresse email.<br>
    Merci de valider cette demande suivant ce <a href="{{ confirmationUrl }}">lien</a><br>
    <br>
    Le Cairn<br>
    <br>
{% endblock %}
