{# src/Cairn/UserBundle/Resources/views/Emails/helloasso.html.twig #}

{% if reason == 'unfindable' %}
    Bonjour, <br>
    <br>
    Un virement Helloasso a été effectué auprès du Cairn afin de créditer un compte [e]-Cairn le {{helloasso.date|date('d-m-Y')}} à {{helloasso.date|date('H:i')}}. Malheureusement, les informations fournies ne correspondent à aucun compte. Le crédit n'a donc pas pu être effectué. <br> <br>

    Ci-dessous un récapitulatif des informations liées à ce virement : 
    <ul>
        <li> email : {{helloasso.email}} </li>
        <li> nom du payeur : {{helloasso.creditorName}} </li>
        <li> montant : {{helloasso.amount}} </li>
        <li> date de réalisation : {{helloasso.date|date('d-m-Y')}} </li>
    </ul>

    Veuillez nous adresser par mail à l'adresse suivante : <b>e-cairn@cairn-monnaie.com</b>
    <ul>
        <li> Le justificatif de paiement Helloasso correspondant au virement </li>
        <li> Votre adresse email [e]-Cairn </li> <br>
    </ul>

    {{signature}},

{% elseif reason == 'cyclos_payment' %}
    Un virement Helloasso a été effectué auprès du Cairn afin de créditer un compte [e]-Cairn le {{helloasso.date|date('d-m-Y')}} à {{helloasso.date|date('H:i')}}. Malheureusement, une erreur est survenue lors du traitement. <br> <br>

    Ci-dessous un récapitulatif des informations liées à ce virement : 
    <ul>
        <li> email : {{helloasso.email}} </li>
        <li> nom du payeur : {{helloasso.creditorName}} </li>
        <li> montant : {{helloasso.amount}} </li>
        <li> date de réalisation : {{helloasso.date|date('d-m-Y')}} </li>
    </ul>

    A faire : 
    <ul>
        <li> Vérifier si le compte a bien été crédité </li>
        <li> Le cas échéant, créditer le compte correspondant "à la main"</li>
    </ul>

    {{signature}},

{% elseif reason == 'empty_safe' %}
    Suite à un virement Helloasso effectué auprès du Cairn afin de créditer un compte [e]-Cairn le {{helloasso.date|date('d-m-Y')}} à {{helloasso.date|date('H:i')}}, <strong> le stock de [e]-cairns disponible est VIDE !! </strong>
    <br> <br>

    <ul>A faire : 
        <li> Virement du compte courant vers le fonds de garantie numérique d'un montant X pour gager X [e]-cairns</li>
        <li> Depuis l'application CEL (Compte En Ligne), déclarer que X [e]-cairns sont désormais disponibles </li>
    </ul>

{% elseif reason == 'asynchronous_deposit' %}
    Bonjour, <br>
    <br>
    Afin de créditer votre compte [e]-Cairn, vous avez effectué un virement Helloasso le {{helloasso.date|date('d-m-Y')}}. <br> 
    
    Ci-dessous un récapitulatif des informations liées à ce virement : 

    <ul>        
        <li> email : {{helloasso.email}} </li>
        <li> nom du payeur : {{helloasso.creditorName}} </li>
        <li> montant : {{helloasso.amount}} </li>
        <li> date de réalisation : {{helloasso.date|date('d-m-Y')}} </li>
    </ul>

    Cependant, le solde de [e]-cairns gagés n’est pas suffisant pour assurer la totalité de votre crédit de {{helloasso.amount}}€. Vous disposez donc d’un acompte de {{diff}}€ qui sera honoré au plus vite. 
    <br>
    N'hésitez pas à nous contacter à <b>e-cairn@cairn-monnaie.com</b> pour plus d'informations !

    <br> <br>
    {{signature}},

{% endif %}

