{# src/Cairn/UserBundle/Resources/views/Emails/payment_notification.html.twig #}
Bonjour <b>{{operation.creditorName}}</b>, 

<br><br>
    Vous avez reçu un paiement. <br> 
    Ci-dessous un récapitulatif : 
    <ul>
        <li> Montant : {{operation.amount}} [e]-Cairns </li>
        <li> nom du payeur : {{operation.debitorName}} </li>
        <li> Date de réalisation : {{operation.executionDate|date('d-m-Y H:i')}} </li>
        <li> Identifiant du paiement : {{operation.paymentID}} </li>
    </ul>

<br><br>
{{signature}},

