{# src/Cairn/UserBundle/Resources/views/Emails/resetting_password_confirmation.html.twig #}

{% block subject %}
{%- autoescape false -%}
Réinitialisation de votre mot de passe 
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
    {% autoescape false %}

Bonjour {{ user.name }} !

Vous avez soumis une demande de réinitialisation de votre mot de passe.
Vous pouvez le faire en cliquant sur ce lien : {{ confirmationUrl }}

A très vite sur notre plateforme numérique !

{{signature}},
    {% endautoescape %}
{% endblock %}

{% block body_html %}
Bonjour <b>{{ user.name | capitalize }}</b> ! <br>
<br>


Vous avez soumis une demande de réinitialisation de votre mot de passe. <br>
Vous pouvez le faire en cliquant sur ce : <a href="{{ confirmationUrl }}">lien</a><br>
<br>
A très vite sur notre plateforme numérique ! <br>
<br>
{{signature}},

{% endblock %}
