{# src/Cairn/UserBundle/Resources/views/Emails/welcome.html.twig #}

Bonjour {{user.name}},

Votre compte a été validé par {{app.user.name}}. Bienvenue dans le réseau du Cairn !

  <p>
    <a href="{{path('fos_user_security_login')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Cliquez sur ce lien pour accéder à la plateforme.
    </a>
      Vous pouvez dès à présent vous connecter avec les identifiants suivants :
      <li> identifiant  : {{user.username}} </li>
      <li> Mot de passe temporaire : {{user.plainPassword}} </li>

    Pour des raisons de sécurité, nous vous conseillons de modifier ce mot de passe au plus vite, et de supprimer ce mail après avoir noté vos identifiants.
  </p>
