{# src/Cairn/UserBundle/Resources/views/Pdf/accounts_statement.html.twig #}         

{% extends 'CairnUserBundle::layout-pdf.html.twig' %}


{% block content %}
    {% set transactions = history.transactions %}
    {% set status = history.status %}
    {% set currency = account.currency %}
    {% set balance = status.balanceAtBegin %}

    <table>
        <caption> Situation de votre compte {{account.type.name}}
            {% if account.owner.display is defined %}
                {{account.owner.display}}
            {% else %}
                Association Le Cairn 
            {% endif %}
             ({{currency.name}}) au {{period.end}}         </br>             RIB Cairn : {{account.number}}
       </caption>
        <tr> Solde au {{period.begin}} : {{status.balanceAtBegin}} </tr>
        <thead>
            <tr>
                <th> Date de valeur </th>
                <th> Description </th>
                <th> Débit </th>
                <th> Crédit </th> 
                <th> Solde </th> 
    
            </tr>
        </thead>
    
        <tbody>
            {% for transaction in transactions %}
                {% set balance = balance + transaction.amount %}
                <tr>
                    <td> {{transaction.date}} </td>
                    <td> {{transaction.description}} </td>
                    <td> 
                        {% if transaction.amount < 0 %}
                            {{transaction.amount}} {{currency.symbol}}
                        {% endif %}
                    </td>
                    <td> 
                        {% if transaction.amount > 0 %}
                            {{transaction.amount}} {{currency.symbol}}
                        {% endif %}
                    </td>

                    <td> 
                        {{ balance}} {{currency.symbol}}
                    </td>

                </tr>
            {% endfor %}
        </tbody>

        <tr> Solde au {{period.end}} : {{status.balanceAtEnd}} </tr>

    </table>
{% endblock %}

