{# src/Cairn/UserBundle/Resources/views/Pdf/card.html.twig #}         

<!DOCTYPE html>                                                                
<html class="test">                                                                         
    <head>                                                                     
        <meta charset="UTF-8" />                                               
        <title>Welcome</title>                 
        {% block stylesheets %}
          {# pathToWeb is a config twig variable used to get absolute urls while generating pdf files using knp-snappy. KnpSnappy does not know a    nything about the context of the project, so absolute path must be provided. asset function not working #}
          <link href="{{ pathToWeb }}/bundles/cairnuser/css/ecairn.css" rel="stylesheet" type="text/css">
        {% endblock %}                                  
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>                                                                    

    <body class="pdf-cards-body">                                                                     
    
    {% for k in 1..1 %}
        <div class="security-card">
            {% set rows = card.fields|length %}
            {% set cols = card.fields|length %}
        
               {# pathToWeb is a config twig variable used to get absolute urls while generating pdf files using knp-snappy. KnpSnappy does not know anything about the context of the project, so absolute path must be provided. asset function not working #}
            <div class="security-card-body">
            <table class="security-card">
            <caption class="security-card">
                    <div class="security-card-logo">
                        <img  class="security-card-logo" src="{{ pathToWeb }}/bundles/cairnuser/img/e-cairn-logo-orange.png" alt="Logo Cairn">
                    </div>

                    <div class="security-card-info">
                       <p class="security-card-owner">Carte de sécurité</p>
                       <p class="security-card-code">Code : {{ code }}</p>
                    </div>
                
                </div>
            </caption>    

                <thead class="card-posx-head">
                   <tr class="card-posx-row"> 
                   <th></th>
                    {% for i in 1..cols %}
                        <th class="card-posx-index"><span class="card-posx-value"> {{i}}</span></th>
                    {% endfor %}
                   </tr> 
                </thead>
                <tbody>
                    {% for letter in 1..rows %}
                        <tr class="card-row">
                            <td class="card-posy"> <span class="card-posy-value"> &#{{64+letter}} </span> </td>
                            {% for i in 1..cols%}
                                <td class="card-key"><span class="card-key-value">{{card.fields[letter-1][i-1]}} </span></td>        
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    {% endfor %}
    </body>                                                                    
</html>

