{# src/Cairn/UserBundle/Resources/views/Pdf/operation_notice.html.twig #}         

{% extends 'CairnUserBundle::layout-pdf.html.twig' %}

{% block fos_user_content %}
    <p>This is the PDF content.</p>


    <figure>
        <img src="{{ asset('purple-unknown.png') }}" alt="Logo Cairn">
        <figcaption>A picture with an absolute URL</figcaption>
    </figure>

   <table>
        <tbody>
           <td> <strong> Avis d'opération de virement </strong> </td> 
           <td> Compte-rendu de votre virement, enregistré le {{transfer.submissionDate|date('Y-m-d')}}} </td>
           <td> Imprimé le {{ 'now'|date('d - m -Y') }} <td>
        </tbody>
    </table> 

   <table>
        <thead>
            <tr>
                <th> Montant </th>
                <th> Date d'éxecution </th>
                <th> Etat </th>
    

            </tr>
        </thead>
    
        <tbody>
            <td> {{transfer.amount}} </td> 
            <td> {{transfer.executionDate|date('Y-m-d')}} </td>
            <td> Executé </td>
        </tbody>
    </table> 

   <table>
    <caption> Compte à débiter </caption>
        <thead>
            <tr>
                <th> Compte </th>
    
            </tr>
        </thead>
    
        <tbody>
            <td> {{transfer.fromAccountNumber}} </br>
                 {{app.user.name}}
             </td> 
        </tbody>
    </table> 


   <table>
    <caption> Compte à créditer </caption>
        <thead>
            <tr>
                <th> Compte </th>
    
            </tr>
        </thead>
    
        <tbody>
            <td> {{transfer.toAccountNumber}} </br>
                 {{transfer.stakeholderName}}
             </td> 
        </tbody>
    </table> 

{% endblock %}


