{# src/Cairn/UserBundle/Resources/views/Pdf/operation_notice.html.twig #}         

{% extends 'CairnUserBundle::layout-pdf.html.twig' %}

{% trans_default_domain 'messages' %}

    {% block title %} Avis d'opération [e]-Cairn{% endblock %}

        {% block stylesheets %}
          {# pathToWeb is a config twig variable used to get absolute urls while generating pdf files using knp-snappy. KnpSnappy does not know a    nything about the context of the project, so absolute path must be provided. asset function not working #}
          <link href="{{ pathToWeb }}/bundles/cairnuser/css/ecairn-pdf.css" rel="stylesheet" type="text/css">
        {% endblock %}                                  

        {% block top_right_info %}
            <table class="notice-history">
                 <caption> Avis d'opération </caption>
                 <tbody>
                    <tr><td> Compte-rendu de votre opération, enregistrée le {{transfer.submissionDate|date('d-m-Y')}}  </td></tr>
                    <tr><td> Imprimé le {{ 'now'|date('d-m-Y') }} </td> </tr>
                    <tr><td> Identifiant du paiement : {{transfer.paymentID}} </td></tr>
                 </tbody>
            </table> 
        {% endblock %}

{% block content %}

    <div class="notice-data">
       <table>
            <caption> Données de l'opération </caption>
                <tbody>
                    <tr> 
                        <td class="title">Type d'opération</td>
                        <td class="value"> {{transfer.getTypeName(transfer.type)|trans}} </td> 
                    </tr>
                    <tr> 
                        <td class="title">Montant</td>
                        <td class="value">{{transfer.amount}} CRN</td> 
                    </tr>
                    <tr> 
                        <td class="title">Date de soumission</td>
                        <td class="value"> {{transfer.submissionDate|date('d-m-Y')}} </td>
                    </tr>
                    <tr> 
                        <td class="title">Date d'éxecution</td>
                        <td class="value"> {{transfer.executionDate|date('d-m-Y')}} </td>
                    </tr>
                    <tr> 
                        <td class="title">Etat</td> 
                        <td class="value">
                            {% if transfer.type == constant('Cairn\\UserBundle\\Entity\\Operation::TYPE_TRANSACTION_SCHEDULED') %}
                                 A exécuter 
                            {% elseif transfer.type == constant('Cairn\\UserBundle\\Entity\\Operation::TYPE_SCHEDULED_FAILED') %}
                                 Echoué 
                            {% elseif transfer.type in constant('Cairn\\UserBundle\\Entity\\Operation::ARRAY_EXECUTED_TYPES') %}
                                 Exécuté
                            {% endif %}
                        </td>
                    </tr>
                    <tr> 
                        <td class="title">Motif</td>
                        <td class="value"> {{transfer.reason}} </td>
                    </tr>
                </tbody>
        </table> 
    
       <table>
            <caption> Parties prenantes </caption>
            <tbody>
                <tr>
                    <td class="title">Compte débiteur </td>
                    <td class="value">{{transfer.fromAccountNumber}} 
                        <br>
                        {{transfer.debitorName}}
                    </td> 
                </tr>
                <tr>
                    <td class="title">Compte créditeur </td>
                    <td class="value">{{transfer.toAccountNumber}} 
                        <br>
                        {{transfer.creditorName}}
                    </td> 
                </tr>
            </tbody>
        </table> 
    </div>
    
{% endblock %}


