{# src/Cairn/UserBundle/Resources/views/Pdf/rib_cairn.html.twig #}         

{% extends 'CairnUserBundle::layout-pdf.html.twig' %}

{% block fos_user_content %}

    <table>
        <thead>
            <tr>
                <th> Identifiant </th>
                <th> Devise </th> 
            </tr>
        </thead>
        <tbody>
             <tr>
                <td> {{account.id}} </td>
                <td> {{account.currency.suffix}} </td>
            </tr>
            <tr> 
                {% if account.type.nature == 'SYSTEM' %}
                    {% set name = 'Cairn, Monnaie Locale Complémentaire' %}
                {% else %}
                    {% set name = owner.name %}
                {% endif %}
                    <div> <strong> Titulaire du compte </strong> </div>
                    <div> {{name}} </div>
                    <div> {{ owner.address.street1 }} </div>
                    <div> {{ owner.city }} </div>
            </tr>
        </tbody>
    </table>

{% endblock %}
