{# src/Cairn/UserBundle/Resources/views/Mandate/dashboard.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}

<div class="row">
    <h2> Les mandats </h2>
    <a href="{{path('cairn_user_mandates_add') }}" class="btn green" ><i class="material-icons left">add</i>Créer un nouveau mandat</a>
    <a href="{{path('cairn_user_mandates_update') }}" class="btn blue" ><i class="material-icons left">update</i>Mise à jour</a>
    <a href="{{path('cairn_user_mandates_honour_all') }}" class="btn green" ><i class="material-icons left">done_all</i>Honorer tout</a>

        <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">sort</i>Filtres pour mandats</div>
            <div class="collapsible-body">
                {{ form_start(formMandate) }}
                <div class="row">
                    <div class="col s12 m6 l3">
                        {{ form_label(formMandate.status) }}
                        {{ form_widget(formMandate.status) }}
                    </div>
                    <div class="col s12 l6">
                        {{form_row(formMandate.cairn_user, {'attr': {'class': 'form_search_user'}} ) }}
                    </div>

                    {{ form_rest(formMandate) }}
                </div>

                {{form_end(formMandate) }}
            </div>
        </li>
    </ul>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">sort</i>Filtres pour opérations</div>
            <div class="collapsible-body">
                {{ form_start(formOperations) }}
                <div class="row">
                    <div class="col s12 m6 l3">
                        {{ form_label(formOperations.date) }}
                        {{ form_widget(formOperations.date, {'date_pattern': '<span style="display: none;">{{ day }}</span> {{ month }}  {{ year }}'}) }}
                    </div>
                    <div class="col s12 l6">
                        {{form_row(formOperations.cairn_user, {'attr': {'class': 'form_search_user'}} ) }}
                    </div>

                    {{ form_rest(formOperations) }}
                </div>

                {{form_end(formOperations) }}
            </div>
        </li>
    </ul>

    
    {% if mandates is defined %}
        {% for mandate in mandates %}
            {% set status = mandate.status %}

            {% if mandate.contractor is not null %}
                {% set contractorName = mandate.contractor.name %}
            {% else %}
                {% set contractorName = 'Undefined' %}
            {% endif %}

          <div class="col s12 m6 l4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title center">{{contractorName}}</span>
                    <p>
                        début : {{mandate.beginAt|date('d-m-Y')}} 
                        <br>
                        fin : {{mandate.endAt|date('d-m-Y')}} 
                        <br>
                        montant : {{mandate.amount}}
                        <br>
                        statut :
                        {% if status ==  constant('Cairn\\UserBundle\\Entity\\Mandate::CANCELED')%}
                            <i class="material-icons">clear</i>
                        {% elseif status == constant('Cairn\\UserBundle\\Entity\\Mandate::UP_TO_DATE')%}
                            <i class="material-icons">done</i>
                        {% elseif status ==  constant('Cairn\\UserBundle\\Entity\\Mandate::COMPLETE')%}
                            <i class="material-icons">done_all</i>
                        {% elseif status == constant('Cairn\\UserBundle\\Entity\\Mandate::SCHEDULED') %}
                            <i class="material-icons">schedule</i>
                        {% elseif status == constant('Cairn\\UserBundle\\Entity\\Mandate::OVERDUE') %}
                            <i class="material-icons">warning</i>

                        {% endif %}
                    </p>
                </div>
                <div class="card-action center">
                     <a href="{{path('cairn_user_mandates_view', {'id': mandate.id})}}"> Détail</a>

                    {% if status == constant('Cairn\\UserBundle\\Entity\\Mandate::OVERDUE') %}
                        <a class="confirmModalLink" href="{{path('cairn_user_mandates_honour', {'id': mandate.id})}}"> Honorer</a>
                        <a href="{{path('cairn_user_mandates_edit', {'id': mandate.id})}}"> Editer</a>

                    {% elseif (status == constant('Cairn\\UserBundle\\Entity\\Mandate::UP_TO_DATE')) or (status == constant('Cairn\\UserBundle\\Entity\\Mandate::SCHEDULED')) %}
                        <a class="confirmModalLink" href="{{path('cairn_user_mandates_cancel', {'id': mandate.id})}}"> Révoquer</a>
                        <a href="{{path('cairn_user_mandates_edit', {'id': mandate.id})}}"> Editer</a>

                    {% endif %}
                </div>

                
            </div>
          </div>
        {% else %}  
            Aucun mandat ne correspond à votre recherche !
        {% endfor %}
    {% elseif operations is defined %}
        <h3> Montant total : <span id="total_amount_operations_mandates"> {{totalAmount}}</span> cairns </h3>

            <div>
                <table>
                <thead>
                    <tr>
                        <th> Mandataire</th>
                        <th> Date de demande</th>
                        <th> Date d'exécution </th> 
                        <th> Montant </th>
                    </tr>
                </thead>
            
                <tbody>
                {% for transaction in operations %}
                    <tr>
                        <td>{{ transaction.creditor.name}}</td>
                        <td>{{ transaction.submissionDate|date('d-m-Y')}}</td>
                        <td>{{ transaction.executionDate|date('d-m-Y')}}</td>
                        <td class="cred-amount"> +{{transaction.amount}} cairns </td>
                    </tr>
                {% else %}
                    Aucune opération ne correspond à votre recherche !
                {% endfor %}
                </tbody>
                </table>
            </div>
    {% endif %}

    <div id="confirmModal" class="modal center-align">
         <div class="modal-content center-align">
             <h4> Êtes-vous sûr(e) de vouloir continuer ? </h4>
         </div>
        {{ form_start(form, {'method': 'post','attr': {'class': 'confirm_operation'}}) }}

                <div class="input-field col s12 m6">
                    {{ form_widget(form.save) }}
                    {{ form_label(form.save) }}
                </div>
                <div class="input-field col s12 m6">
                    <a href="#" class="btn red" id="confirmModalNo">Annuler</a>
                </div>
                {{ form_row(form.cancel,  {'attr': {'class':'hide'} }) }}
                
            {{ form_rest(form) }}
            {{ form_end(form) }}
    </div>

</div>
{% endblock %}              

{% block javascripts %}
    {{parent()}}

    <script>
        $(function (){
            $('select#form_date_year').on('change', function(e){
                $('select#form_date_day').val('1');
            });
            
            jQuery.ajax({
                type: 'POST',
                url: "{{ path('cairn_accounts_ajax') }}",
                dataType: 'json',
                success: function (response) {
                    var accounts = response;
                    var data = {};
                    for (var i = 0; i < accounts.length; i++) {
                        data[accounts[i].name] = null;
                    }

                    $(".form_search_user").autocomplete({
                        data: data,
                        limit: 6, // The max amount of results that can be shown at once. Default: Infinity.
                    });
                }, 
            });
        });

    </script>

{% endblock %}


