{# src/Cairn/UserBundle/Resources/views/Mandate/dashboard.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}

<div class="row">
    <p>
        {% set status = mandate.status %}
        {% if status == constant('Cairn\\UserBundle\\Entity\\Mandate::OVERDUE') %}
            <a href="{{path('cairn_user_mandates_add') }}" class="btn green" ><i class="material-icons left">add</i>Créer un nouveau mandat</a>

            <a href="{{path('cairn_user_mandates_honour', {'id': mandate.id})}}" class="btn green confirmModalLink" > Honorer le mandat</a>
        {% elseif (status == constant('Cairn\\UserBundle\\Entity\\Mandate::UP_TO_DATE')) or (status == constant('Cairn\\UserBundle\\Entity\\Mandate::SCHEDULED')) %}
            <a href="{{path('cairn_user_mandates_cancel', {'id': mandate.id})}}"  class="btn red confirmModalLink" > Révoquer</a>
        {% endif %}
        <a href="{{path('cairn_user_mandates_dashboard')}}"  class="btn blue" ><i class="material-icons right">arrow_forward</i>Tableau de bord</a>
    </p>

    <p>
        {% for document in mandate.mandateDocuments %}
            <a href="{{path('cairn_user_mandates_download_document', {'id': document.id} )}}"  class="btn blue" ><i class="material-icons right">file_download</i>Télécharger le PDF</a>
        {% endfor %}
    </p>

     <div>
        <h1> Détail du mandat de {{mandate.contractor.name}} </h1>

        <h2> Début : {{mandate.beginAt|date('d-m-Y')}} </h2>

        <div class="center-align">
            <ul>
               <li><span class="black-text">Etat</span>:  
                    <span class="grey-text text-darken-3"> 
                    {% set status = mandate.status %}

                    {% if status ==  constant('Cairn\\UserBundle\\Entity\\Mandate::CANCELED')%}
                        <i class="material-icons">clear</i>
                    {% elseif status == constant('Cairn\\UserBundle\\Entity\\Mandate::UP_TO_DATE')%}
                        <i class="material-icons">done</i>
                    {% elseif status ==  constant('Cairn\\UserBundle\\Entity\\Mandate::COMPLETE')%}
                        <i class="material-icons">done_all</i>
                    {% elseif status == constant('Cairn\\UserBundle\\Entity\\Mandate::SCHEDULED') %}
                        <i class="material-icons">schedule</i>
                    {% elseif status == constant('Cairn\\UserBundle\\Entity\\Mandate::OVERDUE') %}
                        <i class="material-icons">warning</i>
                    {% endif %}
                    </span>
               </li>
            </ul>

            <div>
                <table>
                <thead>
                    <tr>
                        <th> Date de demande</th>
                        <th> Date d'exécution </th> 
                        <th> Montant </th>
                    </tr>
                </thead>
            
                <tbody>
                {% for transaction in mandate.operations %}
                    <tr>
                        <td>{{ transaction.submissionDate|date('d-m-Y')}}</td>
                        <td>{{ transaction.executionDate|date('d-m-Y')}}</td>
                        <td class="cred-amount"> +{{transaction.amount}} cairns </td>
                    </tr>
                {% else %}
                    Aucune opération effectuée sur ce mandat
                {% endfor %}
                </tbody>
                </table>
            </div>
            
        </div>

        <h2> Fin : {{mandate.endAt|date('d-m-Y')}} </h2>

    </div>

    <div id="confirmModal" class="modal center-align">
         <div class="modal-content center-align">
             <h4> Êtes-vous sûr(e) de vouloir continuer ? </h4>
         </div>
        {{ form_start(form, {'method': 'post','attr': {'class': 'confirm_operation'}}) }}

                <div class="input-field col s12 m6">
                    {{ form_widget(form.save) }}
                    {{ form_label(form.save) }}
                </div>
                <div class="input-field col s12 m6">
                    <a href="#" class="btn red" id="confirmModalNo">Annuler</a>
                </div>
                {{ form_row(form.cancel,  {'attr': {'class':'hide'} }) }}
                
            {{ form_rest(form) }}
            {{ form_end(form) }}
    </div>

</div>

{% endblock %}
