{# src/Cairn/UserCyclosBundle/Resources/views/Config/AccountType/users.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}


{% block body %}
    {{parent()}}

    <h2> {{accountType.name}} </h2>
    <div><a href="{{path('cairn_user_cyclos_accountsconfig_accounttype_unassign') }}"> Fermer </a></div>

    <h3> Les professionnels associés </h3>
    <table>
       <tr>
            <th> Nom </th>
            <th> Solde </th>
            <th> Capacité </th>
       </tr> 
        {% for user in users %}
            <tr>
                <td> {{user.display}} </td>
                <td> {{user.balance}} </td>
                <td> {{user.availableBalance}} </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
